{% if resource.entity.entity_name == "ideas" %}
    Пользователь <a href="{{ URL_PREFIX }}{{ resource.provider.get_absolute_url }}">{{ resource.provider }}</a> поддержал ресурсом
    "{{ resource_title }}" <a href="{{ URL_PREFIX }}{{ resource.entity.get_absolute_url }}">идею</a>
    <br/>
    {{ resource.entity.description|safe }}
{% else %}
    {% if resource.entity.entity_name == "projects" %}
        Пользователь <a href="{{ URL_PREFIX }}{{ resource.provider.get_absolute_url }}">{{ resource.provider }}</a> поддержал ресурсом
        <a href="{{ URL_PREFIX }}{% url project_participants resource.entity.id %}">"{{ resource_title }}"</a> проект
        <a href="{{ URL_PREFIX }}{{ resource.entity.get_absolute_url }}">{{ resource.entity.title }}</a>.
    {% endif %}
{% endif %}