{% extends "base.html" %}

{% load elements %}

{% block title %}О проекте - Гракон{% endblock %}

{% block page_class %}gr-right-sidebar{% endblock %}

{% block right_column %}
    <div class="gr-side-item">
        <h4>Админы (1) <i>&nbsp;</i></h4>
            <table width="100%" class="gr-side-table">
            <tr>
                <td width="45%"><a href="">IfYouDontKn...</a></td>
                <td width="11%"><span class="gr-leader">&nbsp;</span></td>
                <td width="11%"><span class="gr-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-web-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-skills">&nbsp;</span></td>
                <td width="11%"><span class="gr-resources">&nbsp;</span></td>                            
            </tr>
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  
            </tr>   
            <tr>
                <td><a href="">Максим</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            </table>                               
    </div>
    
    <div class="gr-side-item">
        <h4 class="gr-agitators">Агитаторы (123) <i>&nbsp;</i></h4>
            <table width="100%" class="gr-side-table">
            <tr>
                <td width="45%"><a href="">IfYouDontKn...</a></td>
                <td width="11%"><span class="gr-leader">&nbsp;</span></td>
                <td width="11%"><span class="gr-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-web-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-skills">&nbsp;</span></td>
                <td width="11%"><span class="gr-resources">&nbsp;</span></td>                            
            </tr>
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr>   
            <tr>
                <td><a href="">Максим</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            </table>                               
    </div>
    
    <div class="gr-side-item">
        <h4 class="gr-observers">Следят (1) <i>&nbsp;</i></h4>
            <table width="100%" class="gr-side-table">
            <tr>
                <td width="45%"><a href="">IfYouDontKn...</a></td>
                <td width="11%"><span class="gr-leader">&nbsp;</span></td>
                <td width="11%"><span class="gr-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-web-activity">&nbsp;</span></td>
                <td width="11%"><span class="gr-skills">&nbsp;</span></td>
                <td width="11%"><span class="gr-resources">&nbsp;</span></td>                             
            </tr>
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr>   
            <tr>
                <td><a href="">Максим</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            <tr>
                <td><a href="">Илья</a></td>
                <td><span class="gr-leader">&nbsp;</span></td>
                <td><span class="gr-activity">&nbsp;</span></td>
                <td><span class="gr-web-activity">&nbsp;</span></td>
                <td><span class="gr-skills">&nbsp;</span></td>
                <td><span class="gr-resources">&nbsp;</span></td>  </tr> 
            </table>                               
    </div>
{% endblock %}

{% block content %}
    <h1>Чиновники &mdash; Константин Константинович Головорезов</h1>
    {% tabs tabs tab %}
{% endblock %}
