{% extends "base.html" %}

{% load elements %}

{% block title %}{{ location.name }} - Гракон{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    <h1>{{ location.name }}</h1>
{% endblock %}

{% block right_column %}
    {% if not request.profile and location.is_country %}
        <div class="gr-mb10 gr-big-button" align="center">
            <div><a href="{% url register %}" class="ym-button gr-blue-button">Зарегистрироваться</a></div>
        </div>
    {% endif %}

    <div class="gr-side-item gr-light-back">
        <div class="gr-side-item">
            <h4>Участники&nbsp;({{ info.participants.count }}):</h4>
            <p>
                {% for person in info.participants.entities %}
                    <a href="{{ person.instance.get_absolute_url }}">{{ person.instance }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
            {% if info.participants.count > LIST_COUNT.participants %}
                <a href="{% url location_participants location.id %}">Показать всех...</a>
            {% endif %}
        </div>

        {% if is_lowest_level and not is_participant %}
            <div align="center">
                <a id="become_participant_btn" class="ym-button">Стать участником</a>
            </div>

            {% include "dialogs/become_participant.html" %}
        {% endif %}
    </div>

    {% include "disqus/counter.html" %}
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
