<div class="gr-descr">
    <ul class="gr-source-list-slider js-resource-items-visible">
{% for entity in pagination_entities %}
        <li class="gr-mb20">
            <p>
                {% with person=entity.instance %}
                    {% include "participants/person.html" %}
                {% endwith %}
            </p>

            {% with resources=entity.resources.none.data %}
                {% include "resources/list.html" %}
            {% endwith %}

        </li>
{% endfor %}
    
{% include "resources/description_popup.html" %}

{% include "elements/paginator.html" %}
    </ul>
    <div>
        <a href="" class="ym-button">Еще 20</a>
    </div>
</div>
