<div class="gr-location-tool">
    <h3>
        <span class="gr-icon-state">Чиновники
            <!--small>(по районам)</small-->
            <div class="gr-select-arrow">&nbsp;</div>
        </span>
    </h3>
    <div class="gr-fr">
        <!--a href="">Полный список</a-->
        <a href="{% url create_official %}" class="ym-button gr-blue-button gr-add"><span>Добавить чиновника</span></a>
    </div>
</div>

<table width="100%" class="narrow">
    <tr>{% include header_template %}</tr>

    {% for entity in entities %}
        <tr>{% include line_template %}</tr>
    {% endfor %}
</table>

{% include "elements/paginator.html" %}
