<b>Что такое референдум?</b>
<p>Референдум - это форма непосредственного волеизъявления граждан, выражающаяся в голосовании по наиболее значимым вопросам
общегосударственного, регионального или местного масштаба. Это один из способов участия общественности в принятии решений,
важных для государства и для каждого отдельного гражданина.</p>

<b>Зачем сейчас проводить референдум?</b>
<p>Референдум  может послужить для гражданского общества мобилизующим фактором, способным объединить его участников.
Цель нашего референдума – изменить избирательное законодательство. В случае успеха мы сможем обеспечить честные выборы.
Ни Дума, ни власть в этом не заинтересованы. Это нужно только нам – гражданскому обществу – и нашей стране.</p>

<b>Как проводится референдум?</b>
<p>Собирается рабочая региональная группа численностью не менее 100 человек, проводит собрание и  регистрируется
в избирательной комиссии региона. Информация передается в ЦИК.  ЦИК выносит решение о правомерности вопросов референдума.
Региональный избирком регистрирует региональную группу. Такие группы должны собраться не менее чем в половине субъектов
РФ. Затем уполномоченные этих групп собираются в инициативную группу, которая регистрируется в ЦИК. Начинается сбор
подписей в поддержку референдума. За 45 дней нужно собрать не менее 2 млн. подписей в не менее чем 42 регионах.
При этом в одном регионе можно собрать не более 50 тысяч подписей.</p>

<b>Как может помочь этот сайт?</b>
<p>Подготовка референдума -- весьма сложная организационная задача, требующая участия множества людей. Общественная
дискуссия поможет понять, готово ли общество к проведению референдума, отточить формулировки вопросов, которые будут
вынесены на голосование, и выявить активистов, которые захотят войти в региональные группы референдума.</p>
