{% extends "base.html" %}

{% block page_id %}promo{% endblock %}


{% block breadcrumbs %}
{% endblock %}


{% block top %}
   <link href="{{ STATIC_URL }}css/promo_referendum.css" type="text/css" media="all" rel="stylesheet" />
    <div class="promo-logo">
        <img src="{{ STATIC_URL }}images/grakon_referendum.png" />
      </div>
      
      <div>
          <h4>Что это?</h4>
          <p><strong>Это изменение системы выборов и назначения представителей исполнительной власти путем непосредственного волеизлияния граждан</strong></p>
          <h4>Зачем?</h4>
          <p><strong>Чтобы эффективно бороться с коррупцией и безответственностью чиновников</strong></p>
          <h4>Для кого это?</h4>
          <p><strong>Для каждого гражданина, которому небезразлично благосостояние нашей страны</strong></p>
          <h4>Чем я могу помочь?</h4>
          <p>
              <strong>поддержите наиболее понравившиеся вопросы из списка ниже;<br />
              вступите в инициативную группу для подготовки референдума;<br />
              запишитесь на очное голосование, которое пройдет осенью.</strong>
          </p>
      </div>
{% endblock %}

{% block right_column %}
    
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
