{% extends "base.html" %}

{% block breadcrumbs %}

{% endblock %}

{% block top %}
    <h1>Референдум</h1>

    <b>Что это?</b>
    <p>Это изменение системы выборов и назначения представителей исполнительной власти путем непосредственного волеизъявления граждан</p>

    <b>Зачем?</b>
    <p>Чтобы эффективно бороться с коррупцией и безответственностью чиновников</p>

    <b>Для кого это?</b>
    <p>Для каждого гражданина, которому небезразлично благосостояние нашей страны</p>

    <b>Чем я могу помочь?</b>
    <ul>
        <li>Поддержите наиболее понравившиеся вопросы из списка ниже</li>
        <li>Вступите в инициативную группу для подготовки референдума</li>
        <li>Запишитесь на очное голосование, которое пройдет осенью</li>
    </ul>
{% endblock %}

{% block right_column %}
    
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
