http://www.djangoproject.com/download/1.4-rc-2/tarball/
django-tinymce
south>=0.7.3
flup
django-crispy-forms
bleach
django-debug-toolbar
pylibmc
mysql-python
scrapy
#python-cloudfiles
#PIL
#django-simple-captcha