header {
	background: #222223;	
	background: -moz-linear-gradient(#3e3e3e, #222223);
	background: -ms-linear-gradient(#3e3e3e, #222223);
	background: -o-linear-gradient(#3e3e3e, #222223);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3e3e3e), to(#222223));
	background: -webkit-linear-gradient(#3e3e3e, #222223);
	background: linear-gradient(#3e3e3e, #222223);
}

footer {
	background: #ccc9c9;
	background: -moz-linear-gradient(#edeaea, #ccc9c9);
	background: -ms-linear-gradient(#edeaea, #ccc9c9);
	background: -o-linear-gradient(#edeaea, #ccc9c9);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#edeaea), to(#ccc9c9));
	background: -webkit-linear-gradient(#edeaea, #ccc9c9);
	background: linear-gradient(#edeaea, #ccc9c9);
}

th {
	background: #4b4b4b;	
	background: -moz-linear-gradient(#5d5d5d, #4b4b4b);
	background: -ms-linear-gradient(#5d5d5d, #4b4b4b);
	background: -o-linear-gradient(#5d5d5d, #4b4b4b);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#5d5d5d), to(#4b4b4b));
	background: -webkit-linear-gradient(#5d5d5d, #4b4b4b);
	background: linear-gradient(#5d5d5d, #4b4b4b);
}

.gr-activity, .gr-web-activity, .gr-leader, .gr-icon-state, .gr-select-arrow, .gr-resources, .gr-skype, .gr-geography {background-image:url(../images/icons/badges.png); background-repeat: no-repeat;}
.gr-activity {background-position: right 1px;}
.gr-web-activity {background-position: right -16px;}
.gr-leader {background-position: right -35px;}
.gr-icon-state {background: url(../images/icons/state.png) 0 0 no-repeat;}
.gr-select-arrow {background: url(../images/icons/blue-arrow-down.png) 0 0 no-repeat;}
.gr-resources {background-position: -2px -73px;}
	h5 .gr-resources {background-position: 0 -118px;}
.gr-skype {background-position: -2px -171px;}
.gr-geography {background-position: 0 -143px;}


.ym-hlist ul li.active a, .ym-hlist ul li a:hover, .gr-breadcrumbs, .ym-button, .ym-form button, .ym-form input[type="button"], .ym-form input[type="reset"], .ym-form input[type="submit"], .ui-state-default {
	box-shadow: inset 0 -1px 0 #ecede5, 0 2px 2px #cfcfcf;
	background-color: #e8eae0;
	background: -moz-linear-gradient(#ffffff, #e8eae0);
	background: -ms-linear-gradient(#ffffff, #e8eae0);
	background: -o-linear-gradient(#ffffff, #e8eae0);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8eae0));
	background: -webkit-linear-gradient(#ffffff, #e8eae0);
	background: linear-gradient(#ffffff, #e8eae0);	
}

.ui-state-default:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.gr-breadcrumbs, .ym-hlist .gr-breadcrumbs ul li strong {
	box-shadow: none;
	box-shadow: 0 2px 2px #cfcfcf;
}

.gr-blue-button {
	box-shadow: none;
	box-shadow: 0 2px 2px #97bccf;	
}

    
.gr-blue-button:hover {
    box-shadow: 1px 1px 2px #b9b9b9;
    background-color: #147fb5);
    background-image: -webkit-linear-gradient(top, #60c0ee, #147fb5);
    background-image: -moz-linear-gradient(top, #60c0ee, #147fb5);
    background-image: -ms-linear-gradient(top, #60c0ee, #147fb5);
    background-image: -o-linear-gradient(top, #60c0ee, #147fb5);
    background-image: linear-gradient(top, #60c0ee, #147fb5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#60c0ee', EndColorStr='#147fb5)');         
}

.gr-location-tool .gr-blue-button:hover {
    box-shadow: 1px 1px 2px #1d6f98s;    
}

.ym-hlist .gr-breadcrumbs ul li strong, .gr-blue-button {
    box-shadow: inset 0 -1px 0 #2e8cbb;
	color: #fff !important;
	background-color: #2e8cbb;
	background: -moz-linear-gradient(#60bfed, #2e8cbb);
	background: -ms-linear-gradient(#60bfed, #2e8cbb);
	background: -o-linear-gradient(#60bfed, #2e8cbb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#60bfed), to(#2e8cbb));
	background: -webkit-linear-gradient(#60bfed, #2e8cbb);
	background: linear-gradient(#60bfed, #2e8cbb);
}

.gr-breadcrumbs strong i {background-position: 0 -39px;} 
.gr-breadcrumbs a:hover i {background-position: 0 -133px;}
.ym-hlist  .gr-breadcrumbs a:hover {box-shadow: inset 0 -1px 0 #c9c9c9, 0 2px 2px #cfcfcf; background: none; background-color: #c9c9c9;}
.gr-breadcrumbs i {background:url(../images/bg-breadcrumbs.png) 0 -83px no-repeat;}

.ym-col2 h3, .ym-col3 h3  {
    background-color: #96bc2c;
    background: -moz-linear-gradient(#b0ce45, #96bc2c);
    background: -ms-linear-gradient(#b0ce45, #96bc2c);
    background: -o-linear-gradient(#b0ce45, #96bc2c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#b0ce45), to(#96bc2c));
    background: -webkit-linear-gradient(#b0ce45, #96bc2c);
    background: linear-gradient(#b0ce45, #96bc2c);
}

.gr-chart-back{
    background-color: #e1dedc;	
    background: -moz-linear-gradient(#e1dedc, #f5f5f5);
    background: -ms-linear-gradient(#e1dedc, #f5f5f5);
    background: -o-linear-gradient(#e1dedc, #f5f5f5);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e1dedc), to(#f5f5f5));
    background: -webkit-linear-gradient(#e1dedc, #f5f5f5);
    background: linear-gradient(#e1dedc, #f5f5f5);	
}

.gr-leader .gr-chart-back span {
    background-color: #c5da75;
    background: -moz-linear-gradient(#c6d781, #c5da75 30%, #aebf75);
    background: -ms-linear-gradient(#c6d781, #c5da75 30%, #aebf75);
    background: -o-linear-gradient(#c6d781, #c5da75 30%, #aebf75);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c6d781), color-stop(0.3, #c5da75), to(#aebf75));
    background: -webkit-linear-gradient(#c6d781, #c5da75 30%, #aebf75);
    background: linear-gradient(#c6d781, #c5da75 30%, #aebf75);
}

.gr-offline-activity .gr-chart-back span, .gr-online-activity .gr-chart-back span  {
    background-color: #8cbad1;
    background: -moz-linear-gradient(#aacee1, #a3d0e8 30%, #8cbad1);
    background: -ms-linear-gradient(#aacee1, #a3d0e8 30%, #8cbad1);
    background: -o-linear-gradient(#aacee1, #a3d0e8 30%, #8cbad1);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#aacee1), color-stop(0.3, #a3d0e8), to(#8cbad1));
    background: -webkit-linear-gradient(#aacee1, #a3d0e8 30%, #8cbad1);
    background: linear-gradient(#aacee1, #a3d0e8 30%, #8cbad1);
}

