header {
	background: #222223;	
	background: -moz-linear-gradient(#3e3e3e, #222223);
	background: -ms-linear-gradient(#3e3e3e, #222223);
	background: -o-linear-gradient(#3e3e3e, #222223);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3e3e3e), to(#222223));
	background: -webkit-linear-gradient(#3e3e3e, #222223);
	background: linear-gradient(#3e3e3e, #222223);
}

.gr-follow-button {
	background-color: #7aaa51;
	background: -moz-linear-gradient(top, #95bc53, #7aaa51);
	background: -ms-linear-gradient(top, #95bc53, #7aaa51);
	background: -o-linear-gradient(top, #95bc53, #7aaa51);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#95bc53), to(#7aaa51));
	background: -webkit-linear-gradient(top, #95bc53, #7aaa51);
	background: linear-gradient(top, #95bc53, #7aaa51);
}

.gr-follow-button-blue {
	background-color: #5eaad1;
	background: -moz-linear-gradient(top, #82cef3, #5eaad1);
	background: -ms-linear-gradient(top, #82cef3, #5eaad1);
	background: -o-linear-gradient(top, #82cef3, #5eaad1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#82cef3), to(#5eaad1));
	background: -webkit-linear-gradient(top, #82cef3, #5eaad1);
	background: linear-gradient(top, #82cef3, #5eaad1);
}

.ym-hlist ul li.on a, .ym-button {
	background-color: #4aa9d7;	
	background: -moz-linear-gradient(top, #66c3f0, #4aa9d7);
	background: -ms-linear-gradient(top, #66c3f0, #4aa9d7);
	background: -o-linear-gradient(top, #66c3f0, #4aa9d7);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#66c3f0), to(#4aa9d7));
	background: -webkit-linear-gradient(top, #66c3f0, #4aa9d7);
	background: linear-gradient(top, #66c3f0, #4aa9d7);	
}

.gr-green-button {
	background: none;
	background-color: #94bb53;	
}


