.gr-breadcrumbs {margin: 1em 0 0; clear: both;}
    .gr-breadcrumbs i {position: absolute; top:0; right: -11px; width: 12px; height: 23px; background:url(../images/bg-breadcrumbs.png) right -23px no-repeat; z-index:1;}

/*Общие стили для постоянного использования*/
.gr-fr {float: right;}
.gr-fl {float: left;}
.gr-dt {display: table;}
.gr-mt0 {margin-top: 0 !important;}
.gr-mt10 {margin-top: 1em !important;}
.gr-mb3 {margin-bottom: .3em !important;}
.gr-mb10 {margin-bottom: 1em !important;}
.gr-mb15 {margin-bottom: 1.5em !important;}
.gr-mt20 {margin-top: 2em !important;}
.gr-mb20 {margin-bottom: 2em !important;}
.gr-mb70 {margin-bottom: 7em !important;}
.gr-pt20 {padding-top: 2em !important;}
.gr-bb-grey {border-bottom: 3px solid #e0e2e6;}

/*Элементы header*/
.gr-logo {margin-left: -45px;}
.gr-login-info {float: right;}
    .gr-login-info a, .gr-login-info div.gr-login-user {border-right: 1px solid #242424; padding: 1.5em 1.4em 1.6em; box-shadow: inset -1px 0 0 #3e3d3d; display: block; float: left; line-height: 0; color: #fff;}
		.gr-login-info div.gr-login-user{ position: relative; border: none; box-shadow: none; display: inline; cursor: pointer; padding-bottom: 1em;}
        .gr-activity, .gr-web-activity, .gr-leader, .gr-icon-state, .gr-select-arrow, .gr-resources, .gr-geography {display: block; padding-right: 1.25em }
        header .gr-activity, header .gr-web-activity, header .gr-leader {padding-right: 1.7em; display: inline;}
        .gr-job {float: left; background:url(../images/icons/search.png) 0 7px no-repeat; color: #fff; padding: 0 0 0 10px;}
		.gr-login-user-sub {position: absolute; top: 35px; left: 0; width: 100%; background-color: #000; box-shadow: inset 0 0 3px #000; display: none;}
			.gr-login-user-sub a {display: block; width: 100%; border: none; box-shadow: none; border-bottom: 1px solid #242424; box-shadow: inset 0 -1px 0 #3e3d3d;}	

nav .ym-wrapper {padding: 1.8em 0 1em;}

/*Sidebars*/
.gr-side-item {position: relative; overflow: hidden;} 
    .gr-side-item h4 {position: relative;}
        .gr-side-item h4 i, .ym-col3 h3 i.gr-question, .gr-question i {position: absolute; top: .4em; right: 5px; left:auto;  width: 18px; height: 20px; background: url(../images/icons/question.png) 0 0 no-repeat; cursor: pointer; padding-right: 0;}
        .gr-question {padding-right: 30px;}
        .gr-side-item ul, .gr-side-item li, .gr-source-list-slider, .gr-source-list-slider li {margin: 0; padding: 0; list-style-type: none;}           
            .gr-source-list-slider {border: 1px solid #f3f3f3;}
            .gr-side-item li, .gr-source-list-slider li {padding: .5em .5em; position: relative; color: #887a7a}
                .gr-source-list-slider li {color: #000; padding: 1em .5em 1em 3em;}
                .gr-side-item .gr-nomargin li {padding-left: 1em;}
                .gr-source-list-slider li:nth-child(2n)  {background-color: #f3f3f3;}
                .gr-side-item li i, .gr-source-list-slider li i, .gr-orange-arrow-up, .gr-add {position: relative; margin-bottom: .7em;}
                .gr-orange-arrow-up, .gr-orange-arrow-down{ top: .9em;}
                .gr-disabled h4 {text-shadow: 0 1px 1px #fff; }
                .gr-disabled-back {position: absolute; top: 0; left: 0; z-index: 1; width: 100%; background-color: rgba(0,0,0,0.1); height: 300px;}

.gr-ideas-item .gr-add a.gr-add-icon {background:url(../images/icons/add.png) right 0 no-repeat; position: absolute; left: -35px; top: -5px; width: 30px; height: 30px;}
	.gr-add-icon:hover {text-decoration: none; border-bottom: none !important;}	
	.gr-ideas-item .gr-idea-selected a.gr-add-icon {background-position: right -73px;}

/*Кнопки соцсетей*/
.gr-social {margin: 1em 0 0; text-align:center;}
    .gr-left-sidebar .gr-social {margin: 0;}
.gr-twitter {width: 90px; overflow: hidden; margin-bottom: 9px; margin-right: .9em; display: inline-block;} 
.gr-gplusone {width:72px; overflow: hidden; display: inline-block; margin: 0 0 9px;}
.gr-facebook {margin: 0 auto 9px; width: 155px;}
.gr-vk {margin: 0 auto 9px; height: 22px; overflow: hidden; width: 170px;}

/*pagination*/
.gr-pagination {clear: both; margin-top: 10px; text-align: center; font-size: .95em;}
	.gr-pagination span {cursor: pointer; color: #a9c93e;}
		.gr-pagination span.active {color: #000; font-weight: bold;}
	.gr-pagination-arrow-previous, .gr-pagination-arrow-next {background: url(../images/icons/arrows-pagination.png) 0 1px no-repeat; cursor: pointer; padding: 3px 8px !important;}
	.gr-pagination-arrow-previous {margin-right: 5px;}
	.gr-pagination-arrow-previous:hover {background-position: 0px -39px;}
	.gr-pagination-arrow-next {background-position: 0 -19px; margin-left: 5px;}
	.gr-pagination-arrow-next:hover {background-position: 0 -59px;}


/* Страница задачи */
.gr-bullet {background:url(../images/icons/bullet.gif) center center no-repeat; padding: 0 1em;}
	.gr-info-bar .ym-button {margin-top: -.7em;}
.gr-ideas-list {}
	.gr-ideas-item {position: relative; padding: 25px 0 0; margin: 0 0 20px 0; border-top: 4px solid #e0e2e6}
		.gr-ideas-item-first {border: none; padding-top: 0;}
	.gr-ideas-answer {margin: 0 0 20px 0; background-color: #e8eaed; padding: 10px; border-bottom: 3px solid #e0e2e6}
	.gr-add {font-size: 1.3em; font-weight: bold; color: #009ec5;}
		.gr-add a, .gr-ideas-item .gr-add span {background:url(../images/icons/add.png) -9px -49px no-repeat;  padding: 0 0 0 .8em;}
			.gr-ideas-item .gr-add span {color: #000; background-position: -9px -63px;}
			.gr-add a:hover {text-decoration: none; border-bottom: 1px solid;}
	.gr-ideas-content {margin: 0 0 20px; position: relative;}
	.gr-ideas-item .gr-info-bar  {border-bottom: none;}
	.gr-resource-item {padding: .5em 1.3em .65em; margin: 1em 0 .5em; display: inline-block; color: #000; border: 1px solid #c5c9d2; font-weight: bold;}
	ul.gr-user li  {padding: 0.5em 0.2em;}
	.gr-follow-button {font-size: 1.6em; font-weight: bold; border: 2px solid #c5c9d2; padding: .8em 1em; color: #000; display: block;}
		.gr-follow-button:hover {text-decoration: none;}
	.gr-editing {background:url(../images/icons/editing.gif) 0 0 no-repeat; cursor: pointer; width: 16px; height: 16px; margin-left: .3em; vertical-align:middle;display: inline-block;}
	
	
.gr-descr .gr-user {margin: 0 0 1.2em;}
	h1 .gr-user {font-size: .5em; margin: .2em 0 0 0;}
	
	
/* Страница проекта */

.gr-resoure-item {border: 2px solid #c5c9d2; margin-bottom: 1em;}
	.gr-resoure-item a {display: block; padding: 1em 1.2em; text-decoration: none; color: #333 !important;}
	.gr-resoure-item  h2 {margin: 0 0 .4em;}
	.gr-resoure-item  p {margin:  1em 0 0;}


/* ----- Переиспользуемые элементы ----- */

/* List of locations */
.gr-locations-ul {
	list-style-type: none; margin: 1em 0 0 0; padding: 0; font-size: 1.1em;
}

.gr-locations-ul li {list-style-type: none; margin: 0 0 1em; padding: 0;}

.gr-next-arrow {background:url(../images/icons/add.png) -10px -32px no-repeat; display: inline-block; width: 8px; height: 15px; margin: 0 .3em;}
.remove-li-btn {
    text-decoration: none;
    float: right;
    margin-right: -16px;
    opacity: 0.5;
}
.remove-li-btn:hover {
    cursor: pointer;
    opacity: 1;
}
