{% extends "letters/base.html" %}

{% block content %}
<p>Уважаемый пользователь Гракона!</p>

<p>Накануне президентских выборов вы зарегистрировались на сайте Гракон, указав об участии
в наблюдении за выборами от организации Гражданин Наблюдатель. В последние месяцы наша команда
интенсивно работала над дальнейшим развитием проекта, и сегодня мы хотим пригласить вас принять в нем участие.</p>

<p><a href="{{ URL_PREFIX }}"><b>Новый Гракон</b></a> - площадка, помогающая гражданским активистам искать решения общественных проблем и
находить ресурсы на их реализацию.</p>

<p>Вы можете ознакомиться с функциональностью площадки, посетив <a href="{{ URL_PREFIX }}#jTour/intro"><b>виртуальный тур</b></a>.</p>

<p>Если вам по-прежнему неравнодушна <b>тема выборов</b>, вы можете <a href="http://grakon.org/project/7">помочь Гракону</a> развиваться в этом направлении.</p>
{% endblock %}
