{% extends "letters/base.html" %}

{% block content %}
<p>Друзья!</p>

<p>В Москве существует близкая нашему проекту гражданская инициатива Объединенная Группа Общественного Наблюдения.
Одна из задач этой группы - независимое и объективное наблюдение на массовых акциях.</p>

<p>Если Вы готовы 12 июня на планируемом марше оппозиции стать наблюдателями, следить за соблюдением прав и протестующих,
и полиции, тогда ОГОН приглашает Вас на лекцию в Московскую Хельсинскую Группу,
<b>сегодня</b> 30 мая, в 19:00 (адрес Большой Головин пер., д. 22, стр. 1).
Если можете, заранее запишитесь по ссылке: <a href="http://bit.ly/30052012">http://bit.ly/30052012</a>.</p>

<p>Здесь можно прочитать подробную информацию о группе ОГОН:</p>

<div><a href="https://docs.google.com/document/pub?id=1Kof6cTI2zRjU54XrKAfY1LeICRNfMtowgg4lW1Jq_Kg">Описание</a></div>
<div><a href="https://docs.google.com/document/pub?id=1Hq-mfygut2TA8Ni4z9UHF7vnEYlGdVQWQhDKn44aSyw">Призыв ОГОНа</a></div>
{% endblock %}