<th width="44%">
    <div class="gr-sort">Чиновник<span class="gr-up-active">&nbsp;</span><span class="gr-down-active">&nbsp;</span></div>
</th>
<th width="24%">
    <div class="gr-sort">Должность<span class="gr-up">&nbsp;</span><span class="gr-down">&nbsp;</span></div>
</th>
<th width="24%" align="center">
    <div class="gr-sort">Место работы<span class="gr-up">&nbsp;</span><span class="gr-down">&nbsp;</span></div>
</th>
<th width="8%" align="center">
    <div class="gr-sort">Следят<span class="gr-up">&nbsp;</span><span class="gr-down">&nbsp;</span></div>
</th>