{% extends "base.html" %}

{% block top_line %}
    <div class="ym-column gr-main-steps">
        <div class="ym-wrapper">
            <h1>Cоцсеть активистов, где виртуальные лайки становятся реальными ресурсами</h1>
            <ul class="gr-step-bg">
                <li class="gr-step-1">
                    <h3>Выявить проблему</h3>
                    <div>&laquo;Как недорого обустроить свой двор?&raquo;</div>
                </li>

                <li class="gr-step-2">
                    <h3>Предложить<br />решение</h3>
                    <div>&laquo; &mdash; собраться всем двором на&nbsp;покупку и&nbsp;установку турников и&nbsp;качелей<br /><br />
                    &mdash;&nbsp;вместе с&nbsp;соседями своими руками соорудить футбольную коробку&raquo;</div>
                </li>

                <li class="gr-step-3">
                    <h3>Собрать ресурсы</h3>
                    <div>&laquo; &mdash; деньги<br />
                    &mdash;&nbsp;волонтеры<br />
                    &mdash;&nbsp;материалы для футбольной коробки&raquo;</div>
                </li>

                <li class="gr-step-4">
                    <h3>Запустить проект</h3>
                    <div>&laquo;Совет жителей двора для строительства футбольной коробки&raquo;</div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>
        Укажи, чем можешь помочь
        <select id="resource_select">
            <option value="">Выбери ресурс</option>
            {% for name, title in RESOURCE_DICT.iteritems %}
                <option value="{{ name }}">{{ title }}</option>
            {% endfor %}
        </select>
    </h2>
    <script type="text/javascript">
        $("#resource_select").change(function(){
            var resource = $("#resource_select").val();
            var url = "{% url register %}";
            if (resource!="")
                url += "?resource=" + resource;
            $("#register_btn").attr("href", url);
        });
    </script>

    <div align="center">
        <a id="register_btn" href="{% url register %}" class="gr-follow-button">Поехали!</a>
        <table width="500" class="markup gr-mb30">
            <tr>
                <td width="50%" align="center"><a href="{{ country_url }}">Посмотреть площадку</a></td>
                <td align="center"><a href="{% url about %}">Подробнее о проекте</a></td>
            </tr>
        </table>

        <table width="100%" class="markup">
            <tr>
                <td width="33%">
                    <div class="gr-popular-list gr-icon-tasks gr-fl">
                        <h3>Популярные задачи <i>&nbsp;</i></h3>
                        <ul>
                            {% for info in lists_data.tasks %}
                                <li>
                                    <a href="{{ info.instance.get_absolute_url }}">{{ info.instance.title }}</a>
                                    <div class="gr-info-bar">
                                        Комментарии:
                                        <a style="color:#FFFFFF;" data-disqus-identifier="{{ info.instance.disqus_id }}" href="{{ URL_PREFIX }}{{ info.instance.disqus_url }}#disqus_thread"></a>
                                        <span class="gr-bullet">&nbsp;</span>
                                        Следят: {{ info.participants.follower.count }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td width="34%" align="center">
                    <div class="gr-popular-list gr-icon-ideas">
                        <h3>Популярные идеи <i>&nbsp;</i></h3>
                        <ul>
                            {% for info in lists_data.ideas %}
                                <li>
                                    <a href="{{ info.instance.get_absolute_url }}">{{ info.instance.title }}</a>
                                    <div class="gr-info-bar">
                                        Комментарии:
                                        <a style="color:#FFFFFF;" data-disqus-identifier="{{ info.instance.disqus_id }}" href="{{ URL_PREFIX }}{{ info.instance.disqus_url }}#disqus_thread"></a>
                                        <span class="gr-bullet">&nbsp;</span>
                                        Поддержали: {{ info.resources|length }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="gr-popular-list gr-icon-projects gr-fr">
                        <h3>Популярные проекты <i>&nbsp;</i></h3>
                        <ul>
                            {% for info in lists_data.projects %}
                                <li>
                                    <a href="{{ info.instance.get_absolute_url }}">{{ info.instance.title }}</a>
                                    <div class="gr-info-bar">
                                        Комментарии:
                                        <a style="color:#FFFFFF;" data-disqus-identifier="{{ info.instance.disqus_id }}" href="{{ URL_PREFIX }}{{ info.instance.disqus_url }}#disqus_thread"></a>
                                        <span class="gr-bullet">&nbsp;</span>
                                        Следят: {{ info.participants.follower.count }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% include "disqus/counter.html" %}

{% endblock %}
