<div class="gr-ideas-item">
    <div class="gr-ideas-content">
        <div class="gr-slider gr-slider-inactive">
            <div class="gr-close js-close-inactive">&nbsp;</div>
            <div class="gr-add gr-idea-selected">
                <span href="" class="gr-add-icon js-add" title="Добавить ресурсы">&nbsp;</span>
                <span class="js-resources-list">{{ info.resources|length }}</span>
            </div>

            <div class="gr-small-popup gr-add-popup">
                <div class="gr-close js-close">&nbsp;</div>
                <div class="ym-clearfix">&nbsp;</div>
                <select class="gr-mb10 gr-mt10" style="width:100%">
                    <option>Выбрать ресурс</option>
                </select>
                <textarea style="width:100%">Описание (не более 140 символов)</textarea>
                <div align="right" class="gr-mt5">
                    <span class="highlighted">100</span>
                    <span class="highlight">Сохранить</span>
                </div>
            </div>

            <ul class="gr-source-list-slider js-resource-items">
                {% for provider_resources in info.resources.values %}
                    <li>
                        <a href="{{ provider_resources.provider.instance.get_absolute_url }}">{{ provider_resources.provider.instance }}</a>
                        {% with resources=provider_resources.data %}
                            {% include "resources/list.html" %}
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <h3><a href="{{ info.instance.get_absolute_url }}">{{ info.instance.title }}</a></h3>
        <p class="small">
            {% with person=info.participants.admin.entities.0.instance %}
                {% include "participants/person.html" %}
            {% endwith %}
        </p>
        <div>
            {{ info.instance.description|safe }}
            <a href="" class="gr-editing">&nbsp;</a>
        </div>
    </div>
    <div class="gr-info-bar">
        <a class="dimmed" onclick="show_idea_comments($(this), 'idea/{{ info.instance.id }}', '{{ info.instance.get_absolute_url }}', 'ideas');">Комментарии</a>

        {% if info.projects.entities %}
            <span class="gr-bullet">&nbsp;</span>
            <span class="dimmed gr-pseudolink js-projects">Проекты: {{ info.projects.count }}</span>
        {% endif %}

        <span class="gr-bullet">&nbsp;</span>
        <a href="" class="highlighted"><strong>Связать с проектом</strong></a>

        <span class="gr-fr dimmed"><a href="{{ info.instance.get_absolute_url }}">{{ info.instance.time|date:"j b Y H:i" }}</a></span>
    </div>

    <div class="gr-slider js-projects-content">
        <div class="gr-close js-slide-close">&nbsp;</div>
        <ul class="gr-links-list">
            {% for project in info.projects.entities %}
                <li><a href="{{ project.instance.get_absolute_url }}">{{ project.instance.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>