<div class="gr-ideas-list">
    {% for info in pagination_entities %}
        {% include "ideas/item.html" %}
    {% endfor %}
</div>

{% include "resources/description_popup.html" %}

{% include "ideas/link_to_project.html" %}

{# Попап окно с формой добавления ресурса #}
{% if request.user.is_authenticated %}
    {% include "resources/add.html" %}
    {#  шаблон для динамического создания новых ресурсов на странице  #}
    <div id="resource-template" style="display: none;">
        {% with resource_editable=request.user.is_authenticated %}
            {% include "resources/item.html" %}
        {% endwith %}
    </div>
{% endif %}