{% extends "base.html" %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    <h1>Идея к задаче: <a href="{{ idea.task.get_absolute_url }}">{{ idea.task.title }}</a></h1>
{% endblock %}

{% block right_column %}
    &nbsp;
{% endblock %}

{% block content %}
    <div class="gr-descr gr-ideas-list" ct="{{ info.ct }}" instance_id="{{ idea.id }}">
        <div class="gr-mb10">
            <div class="gr-fl">
                {% with person=admin %}
                    {% include "participants/person.html" %}
                {% endwith %}
            </div>
            <div class="dimmed" align="right">{{ info.instance.add_time }}</div>
            <div class="ym-clearfix">&nbsp;</div>
        </div>
        <div class="gr-ideas-item gr-pb20">
            {% with field="description" html=idea.description %}
                {% include "elements/html_block.html" %}
                {% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}
            {% endwith %}
        </div>

        {% if projects %}
            <div class="gr-ideas-item">
                <h5>Связанные проекты:</h5>
                <ul class="gr-links-list gr-mb20">
                    {% for project in projects %}
                        <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="gr-ideas-item gr-mb30">
            <h5>Ресурсы:</h5>
            <div class="gr-ideas-content">
                <div class="gr-add gr-idea-selected">
                    <span class="gr-add-icon add-resource-btn" title="Добавить ресурсы">&nbsp;</span>
                </div>

                <ul class="gr-source-list-slider gr-mt0">
                {% if info.resources.values %}
                    {% for provider_resources in info.resources.values %}
                        <li>
                            <a href="{{ provider_resources.provider.url }}">{{ provider_resources.provider.full_name }}</a> &nbsp;
                            {% with resources=provider_resources.data %}
                                {% include "resources/list.html" %}
                            {% endwith %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="dimmed gr-mt3">(пусто)</li>
                {% endif %}
                </ul>
            </div>
        </div>

        {% include "resources/description_popup.html" %}
    </div>

    {% include "comments/list.html" %}
{% endblock %}
