{% extends "base.html" %}

{% block title %}Идея - Гракон{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    {% with title_name="Идея" text=idea.title field="title" %}
        {% include "elements/title_edit.html" %}
    {% endwith %}
{% endblock %}

{% block right_column %}
    <div align="center" class="gr-mb20">
        <a class="gr-follow-button" href="{{ idea.task.get_absolute_url }}">Вернуться к задаче</a>
    </div>
{% endblock %}

{% block content %}
    <div class="gr-descr gr-ideas-list" ct="{{ info.ct }}" instance_id="{{ idea.id }}">
        <div class="gr-fl">
            {% with person=admin %}
                {% include "participants/person.html" %}
            {% endwith %}
        </div>
        <div class="dimmed" align="right">{{ info.instance.add_time }}</div>
        <div class="ym-clearfix">&nbsp;</div>

        <div class="gr-ideas-item gr-pb20">
            {% with field="description" html=idea.description %}
                {% include "elements/html_block.html" %}
                {% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}
            {% endwith %}
        </div>

        {% if projects %}
            <div class="gr-ideas-item">
                <h5>Связанные проекты:</h5>
                <ul class="gr-links-list gr-mb20">
                    {% for project in projects %}
                        <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="gr-ideas-item gr-mb30">
            <h5>Ресурсы:</h5>
            <div class="gr-ideas-content">
                <div class="gr-add gr-idea-selected">
                    <span class="gr-add-icon js-add" title="Добавить ресурсы">&nbsp;</span>
                </div>

                {% if info.resources.values %}
                    <ul class="gr-source-list-slider">
                        {% for provider_resources in info.resources.values %}
                            <li>
                                <a href="{{ provider_resources.provider.instance.url }}">{{ provider_resources.provider.instance.first_name }} {{ provider_resources.provider.instance.last_name }}</a>
                                {% with resources=provider_resources.data %}
                                    {% include "resources/list.html" %}
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="dimmed">(пусто)</div>
                {% endif %}
            </div>
        </div>

        {% include "resources/description_popup.html" %}
    </div>

    {% include "ideas/add_resources.html" %}

    {% include "disqus/comments.html" %}
{% endblock %}
