{% load elements %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"  itemscope itemtype="http://schema.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="{{ title }} - Гракон" />
    <meta name="description" content="{{ description }}" />
    <link rel="image_src" href="{{ URL_PREFIX }}{{ STATIC_URL }}images/logos/share.jpg" />

    <meta itemprop="name" content="{{ title }} - Гракон"/>
    <meta itemprop="description" content="{{ description }}"/>

    <title>{% block title %}{{ title }} - Гракон{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">

    <meta property="fb:admins" content="1844239989" />
    <meta property="og:image" content="{{ URL_PREFIX }}{{ STATIC_URL }}images/logos/share.jpg" />
    <meta property="og:description" content="{{ description }}" />

    {{ media_files }}

    {{ form.media }}

    <!--[if IE]>
        <link href="{{ STATIC_URL }}libs/yaml/iehacks.min.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}libs/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var PROFILE = {{ PROFILE|safe }};

        VK.init({apiId: {{ VK_APP_ID }}, onlyWidgets: true});
    </script>

    {% block head %}{% endblock %}

    {% include "services/google-analytics.html" %}
</head>
{% block body %}<body {% if is_main %}id="main"{% endif %}>{% endblock %}
    <div class="gr-wrapper">
        <header>
            <div class="ym-wrapper">
                <a href="{% url main %}" class="gr-fl gr-logo"><img src="{{ STATIC_URL }}images/logos/header.png" /></a>
                <div class="gr-login-info">
                    <!--div class="gr-job"><a href="{% url how_to_help %}">Ищем специалистов!</a></div-->
                    <a href="http://elections.grakon.org" target="_blank">Выборы</a>
                    <a href="{% url about %}?utm_campaign=about&utm_medium=link&utm_source=main_menu">О проекте</a>
                    <a href="{% url how_to_help %}">Как помочь</a>
                    <a href="{% url partners %}">Партнеры</a>

                    {% if request.user.is_authenticated %}
                        <a href="{{ request.profile.get_absolute_url }}">{{ request.profile.first_name }} {{ request.profile.last_name }}</a>
                        <div class="gr-login-user">
                            <span>&nbsp;</span>
                            <div class="gr-login-user-sub">
                                <!--a href="">Настройки</a-->
                                {% if request.profile_info.locations.main_id %}<a href="{% url location_wall request.profile_info.locations.main_id %}">Мой район</a>{% endif %}
                                <a href="{% url logout %}?next={{ request.get_full_path }}">Выйти</a>
                            </div>
                        </div>
                    {% else %}
                        <a id="menu_login_btn">Войти</a>
                    {% endif %}
                </div>
                <div class="ym-clearbox">&nbsp;</div>
            </div>
        </header>

        {% block top_line %}
            <nav class="ym-hlist">
                <div class="ym-wrapper">
                    {% block breadcrumbs %}{% endblock %}
                </div>
            </nav>

            <div class="ym-column">
                <div class="ym-wrapper">
                    {% block top %}{% endblock %}
                    <div class="jquery_tabs">
                        {% if tabs %}
                            {% tabs tabs tab %}
                        {% endif %}

                        {% if title %}
                            <div class="gr-share-icons">
                                {% include "elements/share_buttons.html" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="ym-clearfix">&nbsp;</div>
                </div>
            </div>
        {% endblock %}

        <div class="ym-column gr-content">
            <div class="ym-wrapper {% block page_class %}{% endblock %}">
                <div class="ym-col1">{% block content %}{% endblock %}</div>
                <div class="ym-col2">{% block left_column %}{% endblock %}</div>
                <div class="ym-col3">
                    {% block right_column %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="gr-footer">&nbsp;</div>
    </div>

    <footer>
        <div class="ym-wrapper">
            <table width="100%">
                <tr>
                    <td width="40%">
                        <a href="{% url about %}"><strong>О проекте</strong></a>&nbsp; &nbsp;
                        <a href="http://grakonteam.livejournal.com/" target="_blank"><strong>Блог</strong></a>&nbsp; &nbsp;
                        <a href="{% url feedback %}"><strong>Обратная связь</strong></a>
                    </td>

                    <td align="center" class="gr-share-icons">
                        <a href="http://www.facebook.com/grakonteam" title="Читайте нас в Facebook" target="_blank"><img src="{{ STATIC_URL }}images/services/facebook.gif" align="texttop"/></a>&nbsp;
                        <a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank"><img src="{{ STATIC_URL }}images/services/vkontakte.gif" align="texttop"/></a>&nbsp;
                        <a href="https://twitter.com/#!/grakonteam" title="Читайте нас в Твиттере" target="_blank"><img src="{{ STATIC_URL }}images/services/twitter.gif" align="texttop"/></a>&nbsp;
                        <a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank"><img src="{{ STATIC_URL }}images/services/lj.png" align="texttop"/></a>&nbsp;
                        <a href="https://plus.google.com/109718115889781049624/" title="Читайте нас в Google Plus" target="_blank"><img src="{{ STATIC_URL }}images/services/g_plus.png" align="texttop"/></a>
                    </td>

                    <td width="40%">
                        <div class="gr-fr"><a href="{% url main %}">Гракон</a> &copy; 2012 &mdash; Верстка выполнена с помощью <a href="http://www.yaml.de">YAML</a></div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>

{% if not request.user.is_authenticated %}
    {% include "dialogs/login.html" %}
{% endif %}

{% include "services/google-plus.html" %}

{{ bottom_media_files }}

{% include "services/reformal.html" %}

</body>
</html>
