{% if is_follower %}
    <a id="unfollow_btn" class="ym-button gr-blue-button gr-look"><span>Отписаться</span><i>&nbsp;</i></a>
{% else %}
    <a id="follow_btn" class="ym-button gr-blue-button gr-look"><span>Следить</span><i>&nbsp;</i></a>
{% endif %}

{% if request.user.is_authenticated %}
    {% if is_follower %}
        <div id="unfollow_dialog" class="hidden">
            <p>Вы хотите отписаться от новостей об этом чиновнике?</p>
        </div>

        <script type="text/javascript">
            create_dialog("unfollow_dialog", 320, 200, "Отписаться от новостей", "Отмена", {
                "Отписаться": dialog_post_shortcut("{% url remove_follower %}", {"ct": {{ info.ct }}, "id": {{ info.instance.id }} },
                        function(){$("#unfollow_dialog").dialog("close");}, true)
            });
            $("#unfollow_btn").click(function(){$("#unfollow_dialog").dialog("open");});
        </script>
    {% else %}
        <div id="follow_dialog" class="hidden">
            <p>Вы хотите следить за новостями об этом чиновнике?</p>
        </div>

        <script type="text/javascript">
            create_dialog("follow_dialog", 320, 200, "Следить за новостями", "Отмена", {
                "Следить": dialog_post_shortcut("{% url add_follower %}", {"ct": {{ info.ct }}, "id": {{ info.instance.id }} },
                        function(){$("#follow_dialog").dialog("close");}, true)
            });
            $("#follow_btn").click(function(){$("#follow_dialog").dialog("open");});
        </script>
    {% endif %}
{% else %}
    <script type="text/javascript">
        $("#follow_btn").click(login_dialog_init);
    </script>
{% endif %}
