{% if html or is_admin %}
    <h2 class="{{ css_class }}">{{ title }}:{% if is_admin %}<i class="gr-editing" id="{{ field }}_edit_btn">&nbsp;</i>{% endif %}</h2>
{% endif %}

<div id="{{ field }}_html">{{ html|safe }}</div>

{% if is_admin %}
    <p id="{{ field }}_add_btn" {% if html %}style="display:none;"{% endif %}><i><a>Добавить</a></i></p>
{% endif %}

<script type="text/javascript">
    new TextFieldEditor({el: $("#{{ field }}_html"), edit_btn: $("#{{ field }}_edit_btn"),
            add_btn: $("#{{ field }}_add_btn"),
            ct: {{ info.ct }}, entity_id: {{ info.instance.id }},
            field: "{{ field }}", type: "html"});
</script>