<tr>
    <td><a href="{{ person.instance.get_absolute_url }}">{{ person.instance }}</a></td>
    {% if person.points.leader >= 100 %}
        <td width="14%"><span class="gr-leader">&nbsp;</span></td>
    {% else %}
        <td></td>
    {% endif %}
    {% if person.points.offline >= 100 %}
        <td width="14%"><span class="gr-activity">&nbsp;</span></td>
    {% else %}
        <td></td>
    {% endif %}
    {% if person.points.online >= 100 %}
        <td width="14%"><span class="gr-web-activity">&nbsp;</span></td>
    {% else %}
        <td></td>
    {% endif %}
</tr>