<a href="{{ person.get_absolute_url }}">
    {{ person.username }}
    {% if person.show_name %}({{ person.first_name }} {{ person.last_name }}){% endif %}
</a>

<td width="65%"><a href="{{ person.get_absolute_url }}">
    {{ person.username }}
    {% if person.show_name %}({{ person.first_name }} {{ person.last_name }}){% endif %}
</a></td>
<td class="gr-leader" width="7%">&nbsp;</td>
<td class="gr-activity" width="7%">&nbsp;</td>
<td class="gr-web-activity" width="7%">&nbsp;</td>
<td width="7%"></td>
<td width="7%"></td>