<a href="http://www.facebook.com/grakonteam" title="Поделиться в Facebook" target="_blank">
    <img src="{{ STATIC_URL }}images/services/facebook.gif" align="bottom">
</a>
<a href="http://vk.com/grakonteam" title="Читайте нас во Вконтакте" target="_blank">
    <img src="{{ STATIC_URL }}images/services/vkontakte.gif" align="bottom">
</a>
<a href="https://twitter.com/#%21/grakonteam" title="Читайте нас в Твиттере" target="_blank">
    <img src="{{ STATIC_URL }}images/services/twitter.gif" align="bottom">
</a>
<a href="http://grakonteam.livejournal.com/" title="Читайте нас в ЖЖ" target="_blank">
    <img src="{{ STATIC_URL }}images/services/lj.png" align="bottom">
</a>
<a href="https://plus.google.com/109718115889781049624/" title="Читайте нас в Google+" target="_blank">
    <img src="{{ STATIC_URL }}images/services/g_plus.png" align="bottom">
</a>