<div class="gr-social">
    <div class="gr-gplusone">
        <div class="g-plusone" data-size="medium" data-href="http://grakon.org"></div>
    </div>
    <div class="gr-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://grakon.org" data-text="Гракон - {{ SLOGAN }}" data-lang="no" data-related="GrakonTeam">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="gr-facebook">
        <iframe src="//www.facebook.com/plugins/like.php?locale=ru_RU&amp;href=http%3A%2F%2Fgrakon.org&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:155px; height:21px;" allowTransparency="true"></iframe>
    </div>
    
    <div class="gr-vk">
        <div id="vk_like"></div>
    </div>

    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {
            type: "full",
            height: 20,
            width: 152,
            pageTitle: "Гракон",
            pageDescription: "{{ SLOGAN }}",
            pageUrl: "http://grakon.org",
            pageImage: "http://grakon.org/static/images/logos/share.jpg"
        }, 1);
    </script>
</div>
