<div class="gr-location-tool">
    <h3 onclick="javascript: $('#table_type_choices').slideToggle();">
        <span class="gr-icon-state">
            {{ table_cap_title }}
            <!--small>(по районам)</small-->
            <div class="gr-select-arrow">&nbsp;</div>
        </span>
    </h3>
    <div class="gr-select-list">
        <ul id="table_type_choices">
            {% for url, title in table_cap_choices %}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {% endfor %}
        </ul>  
    </div>
    <div class="gr-fr">
        {% include table_cap_template %}
    </div>
</div>

{% include "elements/table.html" %}
