{% if text or is_admin %}
    <h2 class="{{ css_class }}">{{ title }}:{% if is_admin %}<i class="gr-editing" id="{{ field }}_edit_btn">&nbsp;</i>{% endif %}</h2>
{% endif %}

<p id="{{ field }}_text">{{ text }}</p>

{% if is_admin %}
    <p id="{{ field }}_add_btn" {% if text %}style="display:none;"{% endif %}><i><a>Добавить</a></i></p>
{% endif %}

<script type="text/javascript">
    new TextFieldEditor({el: $("#{{ field }}_text"), edit_btn: $("#{{ field }}_edit_btn"),
            add_btn: $("#{{ field }}_add_btn"),
            ct: {{ info.ct }}, entity_id: {{ info.instance.id }},
            field: "{{ field }}", type: "text"});
</script>