<table width="100%" class="gr-add-comment">
    <tr>
        <td width="100%" valign="top">
            <textarea rows="1" style="overflow: hidden; word-wrap: break-word; resize: none;"></textarea>
        </td>
        <td valign="top">
            <a class="ym-button">Добавить</a>
        </td>
    </tr>
</table>