{% load elements %}

<div class="gr-comment" comment_id="{{ data.comment.id }}" ct="{{ data.comment.content_type }}" entity_id="{{ data.comment.entity_id }}">
    <div><a href="{{ data.author.instance.get_absolute_url }}">{{ data.author.instance }}</a></div>

    <p>{{ data.comment.comment }}</p>

    <div>
        <span class="dimmed">{{ data.comment.time|date:"j b Y" }}</span>

        <span class="gr-fr">Ответить</span>
    </div>

    <div class="gr-child-comments" style="margin-left:2em;">
        {% for child_data in data.children %}
            {% show_comment child_data %}
        {% endfor %}
    </div>
</div>