<div class="gr-comment" comment_id="{{comment.comment_id}}" ct="{{comment.ct_id}}" e_id="{{comment.entity_id}}">
    <div class="gr-mb3"><a href="{{{author.url}}}">{{author.full_name}}</a></div>

    <p>{{comment.comment}}</p>

    <div class="gr-info-bar">
        <span class="js-comment-response gr-pseudolink">Ответить</span>

        <span class="gr-fr dimmed">{{comment.time}}</span>
    </div>

    <div class="gr-child-comments js-comments">
        {{#children}}
            {{>comment_item}}
        {{/children}}
    </div>
</div>