django>=1.4
django-tinymce
south>=0.7.3
django-crispy-forms
bleach
django-debug-toolbar
pylibmc
beautifulsoup
scrapy
django-social-auth
psycopg2
ipython
dnspython
-e git+https://github.com/ghewgill/pydkim.git#egg=pydkim
boto
flup
google-api-python-client
sphinx
django-admin-tools
python-dateutil==1.5
pytz
django-qsstats-magic
django-chart-tools
#mysql-python
#django-simple-captcha
