django>=1.4
django-tinymce
south>=0.7.3
django-crispy-forms
bleach
django-debug-toolbar
pylibmc
scrapy
django-social-auth
google-api-python-client
#mysql-python
#flup
#python-cloudfiles
#PIL
#django-simple-captcha