<a id="send_message_btn" class="ym-button gr-mb10"><span>Отправить сообщение</span></a>

{% if request.user.is_authenticated %}
    <div id="send_message_dialog" class="hidden">
        <form id="send_message_form" method="post">
            <table class="markup" width="420">
                <tr>
                    <td width="20%"><label for="id_title">Тема:</label></td>
                    <td><input type="text" maxlength="100" name="title" id="id_title" style="width: 100%" /></td>
                </tr>
                <tr>
                    <td><label for="id_body">Сообщение:</label></td>
                    <td><textarea name="body" cols="40" rows="9" id="id_body" style="width: 100%" ></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="id_show_email">Показать email получателю:</label> <input type="checkbox" id="id_show_email" name="show_email" checked="checked"></td>
                </tr>
            </table>
        </form>
    </div>

    <script type="text/javascript">
        create_dialog("send_message_dialog", 460, 400, "Отправить сообщение", "Отмена", {
            "Отправить": dialog_post_shortcut("{% url send_message %}", {"id": {{ profile.id }} },
                    function(){
                        $('#send_message_form [name="title"], #send_message_form [name="body"]').val("");
                        $("#send_message_dialog").dialog("close");
                    },
                    false, "send_message_form")
        });
        $("#send_message_btn").click(function(){$("#send_message_dialog").dialog("open");});
    </script>
{% else %}
    <script type="text/javascript">
        $("#send_message_btn").click(login_dialog_init);
    </script>
{% endif %}