{% extends "base.html" %}

{% load elements %}

{% block title %}{{ event.title }} - Гракон{% endblock %}

{% block page_class %}gr-right-sidebar{% endblock %}

{% block right_column %}
    <div class="gr-side-item">
        <h4>
            <a href="{% url event_participants event.id %}?type=admins">Организаторы&nbsp;({{ info.admins.count }})</a>
            <i>&nbsp;</i>
        </h4>
        <table width="100%" class="gr-side-table">
            {% for person in info.admins.entities %}
                {% include "elements/person.html" %}
            {% endfor %}
            {% if info.admins.count > LIST_COUNT.admins %}
                <td colspan="4"><a href="{% url event_participants event.id %}?type=admins">Показать всеx...</a></td>
            {% endif %}
        </table>
    </div>

    <div class="gr-side-item">
        <h4 class="gr-observers">
            <a href="{% url event_participants event.id %}?type=followers">Следят&nbsp;({{ info.followers.count }})</a>
            <i>&nbsp;</i>
        </h4>
        <table width="100%" class="gr-side-table">
            {% for person in info.followers.entities %}
                {% include "elements/person.html" %}
            {% endfor %}
            {% if info.followers.count > LIST_COUNT.followers %}
                <td colspan="4"><a href="{% url event_participants event.id %}?type=followers">Показать всеx...</a></td>
            {% endif %}
        </table>
    </div>

    {% include "disqus/counter.html" %}
{% endblock %}

{% block content %}
    <h1>Мероприятия &mdash; {{ event.title }}</h1>
    {% tabs tabs tab %}
{% endblock %}
