<div class="gr-side-item">
    <h4 class="gr-events">
        <a href="{{ tools_url }}?type=events">Мероприятия</a>&nbsp;({{ info.events.count }})
        <i title="мероприятия для активистов">&nbsp;</i>
    </h4>
    <ul>
        {% for entity in info.events.entities %}
            <li>
                <i class="highlight">{{ entity.instance.time|date:"j/n" }}</i>
                <a href="{{ entity.instance.get_absolute_url }}">{{ entity.instance.title }}</a> ()
            </li>
        {% endfor %}
        {% if info.events.count > LIST_COUNT.events %}
            <li><a href="{{ tools_url }}?type=events">Показать всех...</a></li>
        {% endif %}
    </ul>
    <div align="center">
        <a href="{% url create_event %}" class="ym-button">Добавить мероприятие</a>
    </div>
</div>