<div id="login_dialog" class="hidden">
    <form id="login_form" method="post" action="{% url login %}?next={{ request.get_full_path }}">
        {% csrf_token %}
        <!--input type="hidden" value="" name="csrfmiddlewaretoken"/-->
        <table class="markup" width="300">
            <tr>
                <td><label for="id_username">Логин/email:</label></td>
                <td><input id="id_username" type="text" name="username" width="40" /></td>
            </tr>
            <tr>
                <td><label for="id_password">Пароль:</label></td>
                <td><input id="id_password" type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2" valign="middle" align="center">
                    <input id="login_form_submit" type="submit" value="Войти" class="ui-state-default" />
                     <a id="login_dialog_register" class="ym-button" href="{% url register %}">Регистрация</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="{% url password_reset %}">Забыли пароль?</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    create_dialog("login_dialog", 360, 250, "Войдите в систему", "", {});
    $("#menu_login_btn").click(login_dialog_init);
</script>