<p align="center">
    <img src="/static/images/main-diagramma.jpg" style="border: 1px solid #ccc;" />
</p>

<div class="gr-mb10" align="center"><a href="/login" class="ym-button gr-blue-button">Войти</a> <a href="/register" class="ym-button gr-blue-button">Зарегистрироваться</a> <a href="/feedback" class="ym-button gr-blue-button">Обратная связь</a></div>
<p>Чтобы просмотреть презентацию в полноэкранном режиме, нажмите на иконку  <img align="absmiddle" style="padding: 3px; border: 1px solid #ccc; border-radius: 3px;" src="/static/images/icons/fullscreen.gif"> в правом нижнем углу.<br> Будем рады партнерам, спонсорам и конструктивному фидбэку! </p>
<div align="center" id="__ss_12251744"><iframe src="http://www.slideshare.net/slideshow/embed_code/12251744" width="550" height="449" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>