{% extends "base.html" %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    {% with title_name="Проект" text=project.title field="title" %}
        {% include "elements/title_edit.html" %}
    {% endwith %}
{% endblock %}

{% block right_column %}
    <div align="center" class="gr-mb20">
        {% with is_participant=is_follower button=project.follow_button btn_class="gr-follow-button" %}
            {% include "participants/participate_button.html" %}
        {% endwith %}
    </div>

    <div class="gr-side-item gr-mb15">
        <h4>Требуется:</h4>

        {% for resource in info.resources.none.data %}
            <div class="gr-resource-needs gr-resource-highlighted">
                {% if is_admin %}
                    <!--div class="gr-close" onclick="remove_project_resource({{ info.ct }}, {{ info.instance.id }}, '{{ resource.name }}')">&nbsp;</div-->
                    <h3>{{ resource.name }}</h3>
                {% else %}
                    <h3><i class="gr-add">&nbsp;</i>{{ resource.name }}</h3>

                    <div class="gr-small-popup ym-form js-provide-resource-popup">
                        <div class="gr-close js-close">&nbsp;</div>
                        <div class="ym-clearfix">&nbsp;</div>

                        <h3 class="highlight">{{ resource.name }}</h3>
                        <textarea style="width:100%" rows="5" placeholder="Описание (не более 140 символов)" maxlength="140"></textarea>
                        <div align="right" class="gr-mt5">
                            <!--span class="highlighted gr-fl">100</span-->
                            <span class="highlight fr js-provide-resource-btn">Предоставить</span>
                        </div>
                    </div>
                {% endif %}

                
                <p>{{ resource.description }}</p>
                {% if is_admin %}
                    <div style="text-align: right;"><i class="gr-editing">&nbsp;</i></div>

                    {% comment %}
                    <script type="text/javascript">
                        $(function(){
                            new TextFieldEditor({el: $("#{{ field }}_text"), edit_btn: $("#{{ field }}_edit_btn"),
                                    add_btn: $("#{{ field }}_add_btn"),
                                    ct: {{ info.ct }}, entity_id: {{ info.instance.id }},
                                    field: "{{ field }}", type: "text"});
                        });
                    </script>
                    {% endcomment %}
                {% endif %}

                {% if request.user.is_authenticated %}
                    <script type="text/javascript">
                        $(".gr-resource-highlighted").click(function(){
                            console.log("here");
                            var popup = $(this).children(".js-provide-resource-popup");
                            popup.show();

                            // TODO: this is a hack
                            popup.find(".js-provide-resource-btn").unbind('click').click(function(){
                                post_shortcut(ADD_RESOURCE_URL, {
                                    "ct": {{ info.ct }},
                                    "id": {{ info.instance.id }},
                                    "resource": popup.children("h3").text(),
                                    "description": popup.children("textarea").val(),
                                    "provider": "true"
                                }, function(){
                                    popup.hide();
                                }, true)();
                            });
                        });
                    </script>
                {% else %}
                    <script type="text/javascript">
                        $(".gr-resource-highlighted").click(login_dialog_init);
                    </script>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if is_admin %}
        <div class="gr-side-item">
            <span class="ym-button gr-green-button js-open-add-resource-button">Добавить ресурс</span>

            <div id="add_project_resource_popup" class="gr-small-popup ym-form">
                <div class="gr-close js-close">&nbsp;</div>
                <div class="ym-clearfix">&nbsp;</div>
                <input type="text" placeholder="Название ресурса" style="width:100%" class="gr-mb10 gr-mt10"/>
                <textarea style="width:100%" rows="5" placeholder="Описание (не более 140 символов)" maxlength="140"></textarea>
                <div align="right" class="gr-mt5">
                    <span id="add_project_resource_btn" class="highlight" onclick="add_project_resource({{ info.ct }}, {{ info.instance.id }})">Добавить</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
