{% extends "base.html" %}

{% block title %}{{ project.title }} - Гракон{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    {% with title_name="Проект" text=project.title field="title" %}
    {% include "elements/title_edit.html" %}
    {% endwith %}
{% endblock %}

{% block right_column %}
    <div align="center" class="gr-mb20">
        {% include "participants/follower_button.html" %}
    </div>

    <div class="gr-side-item gr-mb15">
        <h4>Требуется:</h4>

        <div class="gr-resource-needs">
            <h2>5 000 р</h2>
            <p>Описание , для чего нужны деньги, Film Festival, Cape Fear Film Festival, Carrboro Film Festival, and 42 annual USA Film.</p>
        </div>

        <div class="gr-resource-needs">
            <h2>Машина: 2</h2>
            <p>Описани, для чего нужны деньги, Film Festival, Cape Fear Film Festival, Carrboro Film Festival, and 42 annual USA Film.</p>
        </div>
    </div>

    {% include "disqus/counter.html" %}
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
