{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Создать проект - Гракон{% endblock %}

{% block top %}
    <h1>Создать проект</h1>
{% endblock %}

{% block content %}
    <div>
        Пожалуйста, убедитесь, что ваш проект соответствует <a href="{% url rules %}">правилам площадки</a>.
        Чем точнее и подробнее вы опишете проект, тем больше ресурсов на его реализацию он получит.
        После создания все поля можно будет корректировать.
    </div>

    {% crispy form form.helper %}
{% endblock %}