<div class="gr-descr">
    <div class="gr-ideas-list">
        <div class="gr-ideas-item">
            <h5 class="gr-mt0">Автор:</h5>
            <div class="gr-mb10">
                {% with person=admin %}
                    {% include "participants/person.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="gr-ideas-item">
            <h5>Готовы помочь:</h5>
            {% if info.resources.values %}
                <ul class="gr-source-list-slider js-resource-items-visible">
                    {% for provider_resources in info.resources.values %}
                        {% if provider_resources.provider %}
                            <li {% if provider_resources.provider.id == request.PROFILE.id %}own{% endif %} ct="{{ info.ct }}" instance_id="{{ info.instance.id }}">
                                <a href="{{ provider_resources.provider.url }}">{{ provider_resources.provider.full_name }}</a>&nbsp; &nbsp;                                {% with resources=provider_resources.data %}
                                    {% if provider_resources.provider.id == request.PROFILE.id %}
                                        {% with resource_editable="true" %}
                                            {% include "resources/list.html" %}
                                        {% endwith %}
                                    {% else %}
                                        {% include "resources/list.html" %}
                                    {% endif %}
                                {% endwith %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <script>
                    $(function() {

                        var ownResourcesList = $(".gr-source-list-slider li[own]"),
                                addBtn = $(".add-resource-btn");

                        new Resource.ListView({
                            el: ownResourcesList,
                            itemSel: ".gr-resource-item",
                            itemClass: Resource.LabelItemView,
                            popupClass: Resource.PopupEditorView,
                            addBtn: addBtn,
                            provider: "true"
                        })
                    })
                </script>
            {% else %}
                (пусто)
            {% endif %}
        </div>

        <div class="gr-ideas-item">
            <h5>Следят:</h5>
            <div class="dimmed">
                {% with person_entities=info.participants.follower.entities %}
                    {% include "participants/list.html" %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% include "resources/description_popup.html" %}
</div>
