<div class="gr-descr">
    <p class="small">
        {% with person=admin %}
            {% include "participants/person.html" %}
        {% endwith %}
    </p>

    {% with title="Дедлайн" field="deadline" css_class="gr-mt0" text=project.deadline %}
        {% include "elements/text_block.html" %}
    {% endwith %}

    {% with title="Цели" field="goals" html=project.goals %}
        {% include "elements/html_block.html" %}
    {% endwith %}

    {% with title="Этапы" field="stages" html=project.stages %}
        {% include "elements/html_block.html" %}
    {% endwith %}

    {% with title="Суть" field="about" html=project.about %}
        {% include "elements/html_block.html" %}
    {% endwith %}

    {% with title="Кто уже помог проекту" field="team" html=project.team %}
        {% include "elements/html_block.html" %}
    {% endwith %}

    {% if ideas %}
        <h5>Идеи:</h5>
        <p>
            {% for idea in ideas %}
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a><br />
            {% endfor %}
        </p>
    {% endif %}
</div>
