<div class="gr-descr">

    <div class="gr-fl">
    {% with person=admin %}
            {% include "participants/person.html" %}
        {% endwith %}
    </div>
    <div class="dimmed" align="right">{{ project.time|date:"j b Y" }}</div>
    <div class="ym-clearfix">&nbsp;</div>
    {% if project.deadline or is_admin %}
        <h5 class="gr-mt0">Дедлайн:{% with field="deadline" text=project.deadline %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
            {% include "elements/text_block.html" %}
        {% endwith %}
    {% endif %}

    {% if project.goals or is_admin %}
        <h5>Цели:{% with field="goals" html=project.goals %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
            {% include "elements/html_block.html" %}
        {% endwith %}
    {% endif %}

    {% if project.stages or is_admin %}
        <h5>Этапы:{% with field="stages" html=project.stages %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
            {% include "elements/html_block.html" %}
        {% endwith %}
    {% endif %}

    {% if project.about or is_admin %}
        <h5>Суть:{% with field="about" html=project.about %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
            {% include "elements/html_block.html" %}
        {% endwith %}
    {% endif %}

    {% if project.team or is_admin %}
        <h5>Кто уже помог проекту:{% with field="team" html=project.team %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
            {% include "elements/html_block.html" %}
        {% endwith %}
    {% endif %}

    {% if ideas %}
        <h5>Идеи:</h5>
        <p>
            {% for idea in ideas %}
                <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a><br />
            {% endfor %}
        </p>
    {% endif %}
</div>
