<div class="gr-descr">
    <div class="gr-mb20">
        <div class="gr-fl">
            {% with person=admin %}
                {% include "participants/person.html" %}
            {% endwith %}
        </div>
        <div class="dimmed" align="right">{{ info.instance.add_time }}</div>
        <div class="ym-clearfix">&nbsp;</div>
    </div>

    <div class="gr-ideas-list">
        {% if project.deadline or is_admin %}
            <div class="gr-ideas-item">
                <h5 class="gr-mt0">Дедлайн:{% with field="deadline" text=project.deadline %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
                    {% include "elements/text_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% if project.goals or is_admin %}
            <div class="gr-ideas-item">
                <h5>Цели:{% with field="goals" html=project.goals %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
                    {% include "elements/html_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% if project.about or is_admin %}
            <div class="gr-ideas-item">
                <h5>План:{% with field="about" html=project.about %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
                    {% include "elements/html_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% if project.team or is_admin %}
            <div class="gr-ideas-item">
                <h5>Команда:{% with field="team" html=project.team %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
                    {% include "elements/html_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% if ideas %}
            <div class="gr-ideas-item">
                <h5>Идеи:</h5>
                <p>
                    {% for idea in ideas %}
                        <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a><br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    </div>
</div>
