<div class="gr-fl gr-photo">
    <img src="/static/images/remove-after-launch/ridus.jpg" />
</div>

<!--
<ul class="gr-fr gr-icons">
    <li class="gr-icons-like">Понравилось<big>1234</big></li>
    <li class="gr-icons-otchet">Отчеты<big>1</big></li>
</ul> -->
<p>Митинги &laquo;за&nbsp;честные выборы&raquo; собирают все меньше людей. Как можно переломить тенденцию 6&nbsp;мая?</p><br />
<p class="gr-mb20"><a href="http://www.facebook.com/events/351086588262714/">http://www.facebook.com/events/351086588262714/</a></p>

<div class="gr-mb20">
    <a href="" class="ym-button gr-blue-button gr-look gr-question"><span>Следить</span><i>&nbsp;</i></a>
    <a href="" class="ym-button gr-blue-button gr-agit gr-question"><span>Я провел агитацию</span><i>&nbsp;</i></a>
    <a href="" class="ym-button gr-blue-button gr-add gr-question"><span>Добавить ссылку</span><i>&nbsp;</i></a>
</div>

<div class="ym-clearfix">&nbsp;</div>

<div id="showcase" class="showcase">
    <!-- Each child div in #showcase represents a slide -->
    <div class="showcase-slide">
        <!-- Put the slide content in a div with the class .showcase-content. -->
        <div class="showcase-content">
            <div class="showcase-content-wrapper">
                <ul class="gr-source-list-slider">
                            <li>
                                <i class="gr-orange-arrow-up">&nbsp;</i>
                                <p>Организовать приезд в столицу желающих попасть на митинг из провинции</p>
                                <div class="gr-source-list-context"><a href=""><strong>Источник</strong></a> <span class="dimmed">01.05.12</span> <a href="">user</a></div>
                            </li>
                            <li>
                                <i class="gr-orange-arrow-up">&nbsp;</i>
                                <p>Раздавать листовки о митинге около метро 2-5 мая</p>
                                <div class="gr-source-list-context"><a href=""><strong>Источник</strong></a> <span class="dimmed">23.04.12</span> <a href="">user2</a></div>
                            </li>
                            <li>
                                <i class="gr-orange-arrow-down">&nbsp;</i>
                                <p>Снять вирусные ролики с приглашением на митинг от известных общественных деятелей</p>
                                <div class="gr-source-list-context"><a href=""><strong>Источник</strong></a> <span class="dimmed">01.04.12</span> <a href="">user3</a></div>
                            </li>                                                      
                        </ul>
            </div>
        </div>
    </div>                                
</div>
<div class="gr-aw-showcase_additional"><a class="gr-icon-link gr-abuse" href="">Пожаловаться</a></div>
<div class="ym-clearfix">&nbsp;</div>