{% extends "base.html" %}

{% load elements %}

{% block top %}
    <h1>{{ profile }}</h1>
{% endblock %}

{% block left_column %}
    <!--h3>Активность<i>&nbsp;</i></h3>
    <div class="gr-side-item">
        <h4 class="gr-officials">
            <a>Админ&nbsp;({{ administered_entities.count }})</a>
            <i title="страницы администрируемые пользователем">&nbsp;</i>
        </h4>
        <ul>
            {% for entity in administered_entities.entities %}
                <li><a href="{{ entity.instance.get_absolute_url }}">{{ entity.instance }}</a></li>
            {% endfor %}
            {% if administered_entities.count > LIST_COUNT.administered %}
                <li><a href="">Показать все...</a></li>
            {% endif %}
        </ul>
    </div-->
{% endblock %}

{% block right_column %}
    <div class="gr-mb15">
        <h4>Контакты ({{ info.contacts.count }}):</h4>
        <p>
            {% with person_entities=info.contacts.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>
    </div>

    <div class="gr-mb15">
        <h4>Добавлен в контакты ({{ info.participants.follower.count }}):</h4>
        <p>
            {% with person_entities=info.participants.follower.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>

        <!--{% if info.participants.follower.count > LIST_COUNT.follower %}
            <a href="">Показать всеx...</a>
        {% endif %}-->
    </div>
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
