{% extends "base.html" %}

{% load elements %}

{% block left_column %}
    <h3>Активность<i>&nbsp;</i></h3>
    <div class="gr-side-item">
        <h4 class="gr-officials">Чиновники <i>&nbsp;</i></h4>
        <ul>
            <li><i class="highlight">89</i><a href="">Иванов Иван</a> (работник адм...)</li>
            <li><i class="highlight">2</i><a href="">Иванов Иван</a> (судья)</li>
            <li><i class="highlight">1</i><a href="">Иванов Иван</a> (полицейский)</li>
        </ul>
    </div>
    <div class="gr-side-item">
        <h4 class="gr-long-title">Добрая машина Правды <i>&nbsp;</i></h4>
        <ul>
            <li><i class="gr-orange-arrow-up">&nbsp;</i><a href="">Мэр поднимет зарплаты госслужащим</a> (72)</li>
            <li><i class="gr-orange-arrow-down">&nbsp;</i><a href="">Мер посетил лицей</a> (72)</li>
            <li><i class="gr-orange-arrow-down">&nbsp;</i><a href="">Городской суд обновится</a> (2)</li>
        </ul>
    </div>
    <div class="gr-side-item">
        <h4 class="gr-events">Мероприятия <i>&nbsp;</i></h4>
        <ul>
            <li><i class="highlight">12/5</i><a href="">Замена старых канализационных труб</a> (12)</li>
            <li><i class="highlight">12/12</i><a href="">Уборка района</a> (2)</li>
            <li><i class="highlight">1/12</i><a href="">Встреча активистов</a> (12)</li>
        </ul>
    </div>
{% endblock %}

{% block right_column %}
    <div class="gr-side-item">
        <h4>Контакты ({{ info.contacts.count }}) <i>&nbsp;</i></h4>
        <table width="100%" class="gr-side-table">
            {% for contact in info.contacts.entities %}
                <tr>
                    {% with person=contact %}
                        {% include "elements/person.html" %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="gr-side-item">
        <h4>Добавлен в&nbsp;контакты ({{ info.followers.count }}) <i>&nbsp;</i></h4>
        <table width="100%" class="gr-side-table">
            {% for follower in info.followers.entities %}
                <tr>
                    {% with person=follower %}
                        {% include "elements/person.html" %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block content %}
    <h1>{{ profile }}</h1>
    {% tabs tabs tab %}
{% endblock %}
