{% extends "base.html" %}

{% load elements %}

{% block top %}
    <h1>{{ profile }}</h1>
{% endblock %}

{% block breadcrumbs %}
    {% if location %}
        {% include "locations/breadcrumbs.html" %}
    {% endif %}
{% endblock %}

{% block right_column %}
    {% if not is_admin %}
        {% include "dialogs/send_message.html" %}

        {% with is_participant=is_follower button=profile.follow_button btn_class="gr-follow-button gr-mb10" pressed_button="gr-grey-button" %}
            {% include "participants/participate_button.html" %}
        {% endwith %}
    {% endif %}

    <div class="gr-mb15 gr-mt20">
        <h4>Контакты:</h4>
        <p class="dimmed">
            {% with person_entities=info.contacts.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>
    </div>

    <div class="gr-mb15">
        <h4>Добавлен в контакты:</h4>
        <p class="dimmed">
            {% with person_entities=info.participants.follower.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>

        <!--{% if info.participants.follower.count > LIST_COUNT.follower %}
            <a href="">Показать всеx...</a>
        {% endif %}-->
    </div>
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
