<p>
    {% with person=info.instance %}
        {% include "participants/person.html" %}
    {% endwith %}
</p>

{% with resources=info.resources.none.data %}
    {% if info.instance.id == request.profile.id %}
        <script>
            $(function() {
                new Resource.ListView({
                    el: $(".resources-list"),
                    addBtn: $(".add-resource-btn"),
                    itemSel: '.gr-resource-item',
                    itemClass: Resource.LabelItemView,
                    popupClass: Resource.PopupSelectorView
                });
            })
        </script>
        {% with resource_editable="true" %}
            <div id="resources_list" class="resources-list gr-mb10" ct="{{ info.ct }}" instance_id="{{ info.instance.id }}">
                {% include "resources/list.html" %}
            </div>
        {% endwith %}
    {% else %}
        {% include "resources/list.html" %}
    {% endif %}
{% endwith %}

<div class="gr-info-bar gr-mt10">
    {% if info.ideas.admin.count %}
        <a href="{% url profile_ideas info.instance.user_id %}" class="dimmed">Идеи: {{ info.ideas.admin.count }}</a>
        {% if info.tasks.admin.count or info.projects.admin.count %}
            <span class="gr-bullet">&nbsp;</span>
        {% endif %}
    {% endif %}

    {% if info.tasks.admin.count %}
        <a href="{% url profile_tasks info.instance.user_id %}" class="dimmed">Задачи: {{ info.tasks.admin.count }}</a>
        {% if info.projects.admin.count %}
            <span class="gr-bullet">&nbsp;</span>
        {% endif %}
    {% endif %}

    {% if info.projects.admin.count %}
        <a href="{% url profile_projects info.instance.user_id %}" class="dimmed">Проекты: {{ info.projects.admin.count }}</a>
    {% endif %}
</div>