<div class="gr-descr ">
    <div class="gr-ideas-list">
        {% if profile.intro or is_admin %}
            <div class="gr-ideas-item">
                <h5 class="gr-mt0">Кто я такой:
                    {% with field="intro" text=profile.intro %}
                        {% if is_admin %}
                            {% include "elements/edit_button.html" %}
                        {% endif %}
                </h5>
                    {% include "elements/text_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% if profile.about or is_admin %}
            <div class="gr-ideas-item">
                <h5>О себе:{% with field="about" html=profile.about %}{% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}</h5>
                    {% include "elements/html_block.html" %}
                {% endwith %}
            </div>
        {% endif %}

        <div class="gr-ideas-item">     
            <h5>Ресурсы:</h5>
            {% if is_admin %}
                <script>
                    $(function() {
                        new Resource.ListView({
                            template: $("#resource-template").html(),
                            el: $(".resources-list"),
                            addBtn: $(".add-resource-btn")
                        });
                    })
                </script>

                <div class="gr-add gr-idea-selected">
                    <span class="gr-add-icon add-resource-btn gr-add-profile" title="Добавить ресурсы">&nbsp;</span>
                </div>
            {% endif %}
            <div id="resources_list" class="resources-list gr-mb10" ct="{{ info.ct }}" instance_id="{{ info.instance.id }}">
                {% with resource_editable=is_admin resources=info.resources.none.data vertical="true" %}
                    {% include "resources/list.html" %}
                {% endwith %}
            </div>
        </div>

       <div class="gr-ideas-item">     
            <h5>География участия:{% if is_admin %}<i id="location_edit_btn" class="gr-editing">&nbsp;</i>{% endif %}</h5>
            {% with locations_data=info.locations.entities %}
                {% include "locations/list.html" %}
            {% endwith %}

            {% if is_admin %}
                <script type="text/javascript">
                    new LocationEditor({el: $(".gr-locations-ul"), edit_btn: $("#location_edit_btn"),
                            ct: {{ info.ct }}, entity_id: {{ request.profile.id }}})
                </script>
            {% endif %}
        </div>
    </div>
</div>

{# Попап окно с формой добавления ресурса #}
{% if is_admin %}
    {% include "resources/add.html" %}
    {#  шаблон для динамического создания новых ресурсов на странице  #}
    <div id="resource-template" style="display: none;">
        {% with resource_editable=is_admin %}
            {% include "resources/item.html" %}
        {% endwith %}
        <br/>
    </div>
{% endif %}

{# Попап описания ресурса #}
{% include "resources/description_popup.html" %}

