{% load elements %}

<div class="page-content">
    <h4>О себе</h4>
    <div>
        {% if profile_user.profile.about %}
            {{ profile_user.profile.about|safe }}
        {% else %}
            {% if own_profile %}
                <i><a href="{% url edit_profile profile.username %}">Добавьте</a> информацию о себе.</i>
            {% else %}
                <i>Пользователь еще не добавил информацию о себе.</i>
            {% endif %}
        {% endif %}
    </div>

    <h4>Ресурсы</h4>
    <div id="resources">
        {% with tags=resources %}
            {% include "elements/tags.html" %}
        {% endwith %}
    </div>
    <!--div>
        {% for resource in info.resources %}
            <span>{{ resource.title }}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
        
        
        resources
        
    </div-->

    <h4>Участие</h4>
    <ul>
        {% for entity_location in info.locations %}
            <li>
                {% with location=entity_location.location %}
                    {% include "elements/location_path.html" %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>

<br/><br/>



<script type="text/javascript">
    (new TagsView({el: $("#resources"), choices: RESOURCES})).render();
</script>
