<div class="gr-mb20">
    <a class="ym-button gr-blue-button gr-mail"><span>Отправить сообщение</span></a>
    <a id="add_contact_btn" class="ym-button gr-blue-button gr-add {% if in_contacts %}hidden{% endif %}"><span>Добавить в контакты</span></a>
    <a id="remove_contact_btn" class="ym-button gr-blue-button gr-add {% if not in_contacts %}hidden{% endif %}"><span>Удалить из контактов</span></a>
    <a class="ym-button gr-blue-button gr-complaint"><span>Пожаловаться</span></a>
</div>

{% if request.user.is_authenticated %}
    <div id="add_contact_dialog" class="hidden">
        <p>Вы хотите добавить пользователя {{ profile }} в список контактов?</p>
    </div>

    <div id="remove_contact_dialog" class="hidden">
        <p>Вы хотите удалить пользователя {{ profile }} из списка контактов?</p>
    </div>
{% endif %}

<script type="text/javascript">
    {% if request.user.is_authenticated %}
        create_dialog("add_contact_dialog", 625, 400, "Добавить в контакты", "Отмена", {
            "Добавить": dialog_post_shortcut("{% url add_follower %}", {"ct": {{ info.ct }}, "id": {{ profile.id }} },
                function(){
                    $("#add_contact_dialog").dialog("close");
                    $("#add_contact_btn").addClass("hidden");
                    $("#remove_contact_btn").removeClass("hidden");
                }
            )
        });

        create_dialog("remove_contact_dialog", 625, 400, "Удалить из контактов", "Отмена", {
            "Удалить": dialog_post_shortcut("{% url remove_follower %}", {"ct": {{ info.ct }}, "id": {{ profile.id }} },
                function(){
                    $("#remove_contact_dialog").dialog("close");
                    $("#add_contact_btn").removeClass("hidden");
                    $("#remove_contact_btn").addClass("hidden");
                }
            )
        });

        $("#add_contact_btn").click(function(){$("#add_contact_dialog").dialog("open");});
        $("#remove_contact_btn").click(function(){$("#remove_contact_dialog").dialog("open");});
    {% else %}
        $("#add_contact_btn, #remove_contact_btn").click(login_dialog_init);
    {% endif %}
</script>
