{% extends "auth/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block top %}
    <h1>Восстановление пароля</h1>
{% endblock %}

{% block content %}
    <div class="gr-descr">
        {% if validlink %}
            {% crispy form form.helper %}
        {% else %}
            <p>При восстановлении пароля произошла ошибка. Данная ссылка для восстановления пароля недействительна, возможно, потому что уже была использована.
                Попробуйте запросить восстановление пароля ещё раз.</p>
        {% endif %}
    </div>
{% endblock %}

