{% extends "auth/base.html" %}

{% block title %}Регистрация успешно завершена{% endblock %}

{% block content %}
    <h1>Регистрация успешно завершена</h1>

    <div class="gr-content">
        <p><b>На вашу электронную почту отправлено письмо со ссылкой для активации аккаунта.</b></p>

        <p>Если вы не получите письмо в течение нескольких минут проверьте папку Спам.</p>

        <p>Если письмо так и не пришло, пожалуйста, напишите на <a href="mailto:{{ ADMIN_EMAIL}}">{{ ADMIN_EMAIL }}</a>
        и укажите введенное имя пользователя.</p>

        {% include "elements/share_horizontal.html" %}
    </div>
{% endblock %}