{% extends "admin_tools/dashboard/module.html" %}

{% load chart_tags %}

{% block module_content %}
    {{ module.period_form.media }}

    <div style="padding:20px 0px 20px 0px;">
        Выберите период для отчета:
        <form action="" method="get">
            <div style="padding-top:5px;">
                <label for="id_start">Начало: </label>
                {{ module.period_form.start }}&nbsp;
                <label for="id_end">Конец: </label>
                {{ module.period_form.end }}&nbsp;
                <input type="submit" value="Показать"/>

                </br>
                {{ module.period_form.start.errors }}
                {{ module.period_form.end.errors }}
            </div>

        </form>
    </div>

    <div align="center" id="graphics" style="padding-top:10px;">
        <h3 align="center">Users</h3>
        {% bar_chart module.users_values module.day_captions '580x150' %}

        <div align="left">
            <p style="font-size:0.9em;">
                За сегодня: <strong>{{ module.users_qss.this_day }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За неделю: <strong>{{ module.users_qss.last_week }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За месяц: <strong>{{ module.users_qss.last_month }}</strong>
            </p>
        </div>

        <h3 align="center">Ideas</h3>
        {% bar_chart module.ideas_values module.day_captions '580x150' %}

        <div align="left">
            <p style="font-size:0.9em;">
                За сегодня: <strong>{{ module.ideas_qss.this_day }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За неделю: <strong>{{ module.ideas_qss.last_week }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За месяц: <strong>{{ module.ideas_qss.last_month }}</strong>
            </p>
        </div>

        <h3 align="center">Projects</h3>
        {% bar_chart module.projects_values module.day_captions '580x150' %}

        <div align="left">
            <p style="font-size:0.9em;">
                За сегодня: <strong>{{ module.projects_qss.this_day }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За неделю: <strong>{{ module.projects_qss.last_week }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За месяц: <strong>{{ module.projects_qss.last_month }}</strong>
            </p>
        </div>

        <h3 align="center">Tasks</h3>
        {% bar_chart module.tasks_values module.day_captions '580x150' %}

        <div align="left">
            <p style="font-size:0.9em;">
                За сегодня: <strong>{{ module.tasks_qss.this_day }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За неделю: <strong>{{ module.tasks_qss.last_week }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За месяц: <strong>{{ module.tasks_qss.last_month }}</strong>
            </p>
        </div>

        <h3 align="center">Messages</h3>
        {% bar_chart module.messages_values module.day_captions '580x150' %}

        <div align="left">
            <p style="font-size:0.9em;">
                За сегодня: <strong>{{ module.messages_qss.this_day }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За неделю: <strong>{{ module.messages_qss.last_week }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                За месяц: <strong>{{ module.messages_qss.last_month }}</strong>
            </p>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            resize();
            jQuery_resize();
        });

        function jQuery_resize(){
           $(document).ready(function(){resize();});
           $(window).resize(function(){resize();});
        }

        function resize(){
            var width = $("#graphics").width();
            var windowWidth = $(window).width();
            if (!width || width >= windowWidth/2)
                width = Math.round((windowWidth-100)/2);

            $("#graphics img, #emails img").each(function(i, el){
                var imageSrc = $(el).attr("src");
                imageSrc = imageSrc.replace(new RegExp("&chs=[0-9]+x[0-9]+&","g"),"&chs="+width+"x150&");
                $(el).attr("src", imageSrc);
                $(el).attr("width", width);
            });
        }
    </script>
{% endblock %}
