<div id="add_resource_popup" class="gr-small-popup gr-add-popup">
    <span class="popup-action-label"></span>
    <div class="gr-close js-close">&nbsp;</div>
    <select class="gr-mb10 gr-mt10" style="width:100%"></select>

    <textarea style="width:100%" maxlength="140" rows="4" placeholder="Описание (не более 140 символов)"></textarea>

    <div align="right" class="gr-mt5">
        <!--span class="highlighted">100</span-->
        <span class="add_resource_btn highlight">Добавить</span>
        <span class="edit_resource_btn highlight" style="display: none;">Изменить</span>
        <span class="remove_resource_btn highlight" style="display: none;">Удалить</span>
    </div>
</div>