{% if request.user.is_authenticated %}
    <div id="become_participant_dialog" class="hidden">
        <p>Вы хотите стать участником этого района/города?</p>
    </div>
{% endif %}

<script type="text/javascript">
    {% if request.user.is_authenticated %}
        create_dialog("become_participant_dialog", 300, 200, "Стать участником", "Отмена", {
            "Участвовать": dialog_post_shortcut("{% if is_participant %}{% url remove_location %}{% else %}{% url add_location %}{% endif %}",
                {"ct": {{ request.profile_info.ct }}, "id": {{ request.profile.id }}, "loc_id": {{ location.id }} },
                function(){
                    $("#become_participant_dialog").dialog("close");
                    $("#become_participant_btn").addClass("hidden");
                },
                true
            )
        });

        $("#become_participant_btn").click(function(){$("#become_participant_dialog").dialog("open");});
    {% else %}
        $("#become_participant_btn").click(login_dialog_init);
    {% endif %}
</script>