<div class="gr-breadcrumbs">
    <ul>
        {% if location.country %}
            <li>
                <a href="{{ location.country.get_absolute_url }}">Россия<i>&nbsp;</i></a>
            </li>
        {% else %}
            <li class="on">
                <a href="{{ location.get_absolute_url }}">Россия<i>&nbsp;</i></a>
            </li>
        {% endif %}

        {% if location.region %}
            <li>
                <a href="{{ location.region.get_absolute_url }}">{{ location.region }}<i>&nbsp;</i></a>
            </li>
        {% endif %}

        {% if location.district %}
            <li>
                <a href="{{ location.district.get_absolute_url }}">{{ location.district }}<i>&nbsp;</i></a>
            </li>
        {% endif %}

        {% if not location.is_country %}
            <li class="on">
                <a href="{{ location.get_absolute_url }}">{{ location }}<i>&nbsp;</i></a>
            </li>
        {% endif %}

        {% if subregions %}
            <li>
                <form id="goto_subregion_form" action="{% url goto_location %}" method="get" style="display:inline; margin:0; padding:0;">
                    <select id="goto_subregion" name="loc_id">
                        {% for id, name in subregions %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        {% endif %}
    </ul>
    <div class="ym-clearfix">&nbsp;</div>
</div>

<script type="text/javascript">
    $("#goto_subregion").change(function(){
        $("#goto_subregion_form").submit();
    });
</script>
