<p>Гракон&nbsp;&mdash; социальная сеть для гражданских активистов, построенная по&nbsp;ресурсо-географическому признаку, платформа для формулирования общественно-политических проблем и&nbsp;поиска конкретных путей их&nbsp;решения.</p>

<p>Задача Гракона&nbsp;&mdash; создать площадку для общения, где будут рождаться идеи, и&nbsp;предложить инструменты для их&nbsp;реализации; помочь встретиться тем, кто знает, что нужно делать, с&nbsp;теми, у&nbsp;кого есть соответствующие возможности.</p>

<p>Виртуальные &laquo;лайки&raquo; заменены на&nbsp;Граконе на&nbsp;реальные ресурсы, что дает участникам возможность не&nbsp;просто выразить свое отношение к&nbsp;происходящему, но&nbsp;прямо повлиять на&nbsp;ситуацию. Например, если вам симпатичен проект, то&nbsp;поднять его в&nbsp;рейтинге простым &laquo;лайком&raquo; нельзя&nbsp;&mdash; для этого надо выделить ресурс на&nbsp;его реализацию.</p>

<p>Типы ресурсов (деньги, время, автомобиль, помещение, знания, навыки, связи и&nbsp;т.д.), которыми участники готовы делиться, и&nbsp;город/район проживания, указываются при регистрации. Это позволяет легко собрать команду волонтеров для работы над собственным проектом или поучаствовать в&nbsp;развитии чужого (или и&nbsp;то, и&nbsp;другое).</p>

<p>Таким образом, на&nbsp;Граконе можно:</p>

<ul class="gr-static">
<li>найти единомышленников, которые живут поблизости и&nbsp;обладают необходимыми вам ресурсами;</li>
<li>сформулировать перед сообществом единомышленников насущные задачи по&nbsp;развитию гражданского общества;</li>
<li>предложить/собрать идеи их&nbsp;решения;</li>
<li>поддержать понравившиеся идеи личными ресурсами;</li>
<li>найти ресурсы для реализации своего гражданского проекта;</li>
<li>найти проект по&nbsp;душе и&nbsp;вступить в&nbsp;команду для его реализации.</li>
</ul>

<p>Чтобы лучше познакомиться с возможностями площадки, приглашаем вас на <a href="/#jTour/intro">виртуальный тур</a>.</p>