<blockquote>
&laquo;Демократия&nbsp;&mdash; это не&nbsp;то, во&nbsp;что вы&nbsp;верите, и&nbsp;не&nbsp;место, чтобы повесить шляпу. Это&nbsp;то, что вы&nbsp;делаете. Вы&nbsp;участвуете. Если вы&nbsp;перестанете это делать, то&nbsp;демократия рухнет&raquo;.
</blockquote>
<p align="right">Эбби Хоффман<br />
гражданский активист</p>

<p>Если вы&nbsp;оказались на&nbsp;этом сайте и&nbsp;читаете этот текст, то, скорее всего, вам не&nbsp;безразлично общество, в&nbsp;котором вы&nbsp;живете. Скорее всего, вы&nbsp;либо уже имеете опыт гражданской инициативы, либо ищете подходящий вам способ ее&nbsp;проявить.</p>
<p>Задача Гракона&nbsp;&mdash; создать площадку для общения, где будут рождаться великие (и&nbsp;не&nbsp;очень) идеи, и&nbsp;предложить инструменты для их&nbsp;реализации. Гракон&nbsp;&mdash; это онлайн-платформа, где вы&nbsp;можете найти помощь или предложить ее&nbsp;другому, выдвинуть и&nbsp;обсудить задачу, отследить действия и&nbsp;работу властей, а&nbsp;также многое другое.</p>
<p>События последних месяцев показали, что гражданское общество в&nbsp;России&nbsp;&mdash; это не&nbsp;миф. А&nbsp;наш предыдущий онлайн-проект, запущенный в&nbsp;преддверии президентских выборов-2012, подтвердил необходимость виртуального форума для его работы.</p>
<p>Вы&nbsp;здесь, потому что хотите что-то изменить. Мы&nbsp;здесь, чтобы создать для этого условия.</p>