<b>1) Гракон - площадка для реальных дел, а не общения онлайн</b>
<ul>
    <li>запрещены информационные или развлекательные посты, которые не призывают к конкретным действиям</li>
    <li>задачи, идеи и проекты должны быть ориентированны на конкретные действия в ближайшем будущем, но не на философские рассуждения</li>
    <li>запрещена прямая агитация за или против. Не согласны с властью, оппозицией или любой другой группой - облекайте мысли в конструктивные идеи и проекты или идите на Фэйсбук, вКонтакте или ЖЖ</li>
    <li>запрещены реклама, выяснение отношений, ругань, спам, флуд, троллинг</li>
    <li>запрещены угрозы, призывы к насилию, разжигание розни на национальной или любой другой почве</li>
</ul>

<b>2) Гракон - площадка реальных ресурсов, а не виртуальных “лайков”</b>
<ul>
    <li>выделяемые под идеи и проекты ресурсы должны предоставляться в оффлайне, за исключением уважительных причин. Если вы не уверены, что готовы предоставить большой ресурс, но хотите помочь, укажите минимальный объем помощи, который вы готовы дать.</li>
    <li>запрещены любые накрутки. Виновные будут баниться</li>
</ul>

<b>3) Гракон - площадка для помощи гражданскому обществу, а не получения прибыли отдельными людьми</b>
<ul>
    <li>все ресурсы на площадке должны предоставляться на волонтерской основе или по цене существенно ниже рыночной</li>
    <li>публикуемые задачи, идеи и проекты должны помогать не отдельным людям или семьям, а целым сообществам, пусть даже и небольшим</li>
</ul>

<b>4) Гракон - площадка, направленная на общественный поиск и воплощение новых, креативных и конструктивных идей, а не на дополнительный канал реализации деятельности существующих компаний и организаций</b>
<ul>
    <li>на площадке запрещено просить или предлагать помощь без конкретной идеи или плана действий</li>
    <li>запрещено собирать деньги на благотворительность</li>
    <li>компании и организации могут публиковать свои отдельные креативные проекты и искать для них ресурсы, но не выкладывать всю свою деятельность одним проектом</li>
</ul>

<b>5) Гракон - площадка, ориентированная на активную деятельность с быстрыми измеримыми результатами, а не на длительные, сложные и тяжело-оценимые проекты</b>
<ul>
    <li>все ресурсы и проекты ограничены по времени максимум одним месяцем (в разработке)</li>
</ul>
