<p><b>1) Гракон&nbsp;&mdash; площадка для реальных дел, а&nbsp;не&nbsp;общения онлайн</b></p>
<ul class="gr-static">
    <li>запрещены информационные или развлекательные посты, которые не&nbsp;призывают к&nbsp;конкретным действиям</li>
    <li>задачи, идеи и&nbsp;проекты должны быть ориентированны на&nbsp;конкретные действия в&nbsp;ближайшем будущем, но&nbsp;не&nbsp;на&nbsp;философские рассуждения</li>
    <li>запрещена прямая агитация за&nbsp;или против. Не&nbsp;согласны с&nbsp;властью, оппозицией или любой другой группой&nbsp;&mdash; облекайте мысли в&nbsp;конструктивные идеи и&nbsp;проекты или идите на&nbsp;Фэйсбук, вКонтакте или&nbsp;ЖЖ</li>
    <li>запрещены реклама, выяснение отношений, ругань, спам, флуд, троллинг</li>
    <li>запрещены угрозы, призывы к&nbsp;насилию, разжигание розни на&nbsp;национальной или любой другой почве</li>
</ul>

<p><b>2) Гракон&nbsp;&mdash; площадка реальных ресурсов, а&nbsp;не&nbsp;виртуальных &laquo;лайков&raquo;</b></p>
<ul class="gr-static">
    <li>выделяемые под идеи и&nbsp;проекты ресурсы должны предоставляться в&nbsp;оффлайне, за&nbsp;исключением уважительных причин. Если вы&nbsp;не&nbsp;уверены, что готовы предоставить большой ресурс, но&nbsp;хотите помочь, укажите минимальный объем помощи, который вы&nbsp;готовы дать.</li>
    <li>запрещены любые накрутки. Виновные будут баниться</li>
</ul>

<p><b>3) Гракон&nbsp;&mdash; площадка для помощи гражданскому обществу, а&nbsp;не&nbsp;получения прибыли отдельными людьми</b></p>
<ul class="gr-static">
    <li>все ресурсы на&nbsp;площадке должны предоставляться на&nbsp;волонтерской основе или по&nbsp;цене существенно ниже рыночной</li>
    <li>публикуемые задачи, идеи и&nbsp;проекты должны помогать не&nbsp;отдельным людям или семьям, а&nbsp;целым сообществам, пусть даже и&nbsp;небольшим</li>
</ul>

<p><b>4) Гракон&nbsp;&mdash; площадка, направленная на&nbsp;общественный поиск и&nbsp;воплощение новых, креативных и&nbsp;конструктивных идей, а&nbsp;не&nbsp;на&nbsp;дополнительный канал реализации деятельности существующих компаний и&nbsp;организаций</b></p>
<ul class="gr-static">
    <li>на&nbsp;площадке запрещено просить или предлагать помощь без конкретной идеи или плана действий</li>
    <li>запрещено собирать деньги на&nbsp;благотворительность</li>
    <li>компании и&nbsp;организации могут публиковать свои отдельные креативные проекты и&nbsp;искать для них ресурсы, но&nbsp;не&nbsp;выкладывать всю свою деятельность одним проектом</li>
</ul>

<p><b>5) Гракон&nbsp;&mdash; площадка, ориентированная на&nbsp;активную деятельность с&nbsp;быстрыми измеримыми результатами, а&nbsp;не&nbsp;на&nbsp;длительные, сложные и&nbsp;тяжело-оценимые проекты</b></p>
<ul class="gr-static">
    <li>все ресурсы и&nbsp;проекты ограничены по&nbsp;времени максимум одним месяцем (в&nbsp;разработке)</li>
</ul>