<div class="gr-partners">
    <div class="gr-partner-block">
        <a target="_blank" href="http://nabludatel.org">
            <img width="150px" style="margin-top:15px" class="side_block_image" src="/static/images/partners/gn.jpg">
        </a>
    </div>
    
    <div class="gr-partner-block">
        <a target="_blank" href="http://kuda-komu.net/voting/">
            <img width="150px" style="margin-top:15px" class="side_block_image" src="/static/images/partners/komukuda.gif">
        </a>
    </div>
    

    <div class="gr-partner-block">
        <a target="_blank" href="http://www.yabloko.ru/">
            <img style="margin-top:17px" class="side_block_image" src="/static/images/partners/yabloko.jpg">
        </a>
    </div>    
    
    <div class="gr-partner-block">
        <a target="_blank" href="http://mdp2012.ru/">
            <img width="150px" class="side_block_image" src="/static/images/partners/prohorov.jpg">
        </a>
    </div>

    <div class="cl">&nbsp;</div>
</div>