
<div class="gr-job-item">
    <a target="_blank" href="http://nabludatel.org">
        <img width="170" src="{{ STATIC_URL }}images/partners/gn.jpg">
    </a>
</div>
<div class="gr-job-item">
    <a target="_blank" href="http://kuda-komu.net/">
        <img width="180" src="{{ STATIC_URL }}images/partners/komukuda.gif">
    </a>
</div>
<div class="gr-job-item">
    <a target="_blank" href="http://rospravosudie.com/">
        <img class="side_block_image" src="{{ STATIC_URL }}images/partners/rospravosudie.png">
    </a>
</div>
<div class="gr-pt20">
    <a target="_blank" href="http://ofund.ru/">
        <img class="side_block_image" src="{{ STATIC_URL }}images/partners/fond.png">
    </a>
</div>


