<table width="100%" class="markup">
    <tr>
        <td width="33%" align="center" valign="middle">
            <a target="_blank" href="http://nabludatel.org">
                <img width="170" src="/static/images/partners/gn.jpg">
            </a>
        </td>
        <td width="33%" align="center" valign="middle">
            <a target="_blank" href="http://kuda-komu.net/">
                <img width="180" src="/static/images/partners/komukuda.gif">
            </a>
        </td>
        <td align="center" valign="middle">
            <a target="_blank" href="http://rospravosudie.com/">
                <img class="side_block_image" src="/static/images/partners/rospravosudie.png">
            </a>
        </td>
    </tr>
</table>


