{% extends "letters/base.html" %}

{% block content %}
    <p>Пользователь <a href="{{ URL_PREFIX }}{{ profile.get_absolute_url }}">{{ profile.first_name }} {{ profile.last_name }}</a>
    хочет удалить свой аккаунт.</p>

    <p>Чтобы удалить аккаунт, перейдите по этой
    <a href="{{ URL_PREFIX }}/{{ ADMIN_PREFIX }}/auth/user/{{ profile.user.id }}/delete/" target="_blank">ссылке</a>.<br />
    <b>Внимание!</b> Если на этой странице вы увидите длинный список объектов, среди которых
    есть чиновники, новости, мероприятия и пр. - остановитесь и оставьте это письмо непрочитанным.
    Его обработает Сергей.</p>

    <p>Отправьте пользователю уведомление об удалении аккаунта,
    перенаправив окончание этого письма (Forward) на адрес {{ profile.user.email }}
    с заголовком "Ваш аккаунт на Граконе удален".</p>

    <p>{{ profile.first_name }},</p>
    <p>Ваш аккаунт на сайте <a href="{{ URL_PREFIX }}" target="_blank">Гракон</a> успешно удален.</p>
{% endblock %}