<div id="add_idea_dialog" class="hidden">    
    <form id="add_idea_form" method="post">
        <div class="gr-mb10 gr-mt10">
            <label for="id_username">Название идеи <span class="dimmed">(не более 140 символов)</span>:<span class="asteriskField">*</span></label>
        </div>
        <textarea name="title" value="" style="width: 100%" rows="3"></textarea>
        <div class="gr-mb10 gr-mt10">
            <label for="id_username">Поддержите свою идею ресурсом:</label>
        </div>
        <input type="text" style="width: 100%"/>
        <input class="hidden" name="description" value="" />
    </form>
</div>

<script type="text/javascript">
    create_dialog("add_idea_dialog", 400, 300, "Добавить идею", "Отмена", {
        "Добавить": dialog_post_shortcut("{% url add_idea %}", {"ct": {{ info.ct }}, "id": {{ info.instance.id }} },
                function(){}, true, "add_idea_form")
    });
    $("#add_idea_btn").click(function(){
        $("#add_idea_dialog").dialog("open");

        // TODO: take related editor, not active
        $('#add_idea_form [name="description"]').attr("value", tinyMCE.activeEditor.getContent());
    });
</script>
