<div id="add_idea_dialog" class="hidden">
    <form id="add_idea_form" method="post">
        <div class="gr-mb10 gr-mt10">
            <label for="id_username">Название идеи <span class="dimmed">(не более 140 символов)</span>:<span class="asteriskField">*</span></label>
        </div>
        <textarea name="title" style="width: 100%" rows="3"></textarea>

        <div class="gr-mb10 gr-mt10">
            <label for="id_username">Поддержите свою идею ресурсом:</label>
        </div>

        <select name="resources1" id="idea_resources_selector" class="resourcesselectwidget" multiple="multiple" data-placeholder="Выберите навыки и ресурсы" style="display: none; width:300px;">
            {% for name, title in RESOURCE_CHOICES %}
                <option value="{{ name }}">{{ title }}</option>
            {% endfor %}
        </select>

        <input class="hidden" name="description" value="" />
    </form>
</div>

<script type="text/javascript">
    create_dialog("add_idea_dialog", 400, 310, "Добавить идею", "Отмена", {
        "Добавить": dialog_post_shortcut("{% url add_idea %}", {"ct": {{ info.ct }}, "id": {{ info.instance.id }} },
                function(){}, true, "add_idea_form")
    });
    $("#add_idea_btn").click(function(){
        // TODO: take related editor, not active
        var description = tinyMCE.activeEditor.getContent();
        if (description == ""){
            alert("Необходимо описать идею");
            return;
        }

        select_resources($("#idea_resources_selector"))

        $("#add_idea_dialog").dialog("open");
        $('#add_idea_form [name="description"]').attr("value", description);
    });
</script>
