{% extends "base.html" %}

{% load elements %}

{% block title %}{{ official }} - Гракон{% endblock %}

{% block page_class %}gr-right-sidebar{% endblock %}

{% block right_column %}
    <div class="gr-side-item">
        <h4>Админы ({{ info.admins.count }}) <i>&nbsp;</i></h4>
        <table width="100%" class="gr-side-table">
            {% for person in info.admins.entities %}
                {% include "elements/person.html" %}
            {% endfor %}
        </table>
    </div>

    <!--div class="gr-side-item">
        <h4 class="gr-agitators">Агитаторы (123) <i>&nbsp;</i></h4>
            <table width="100%" class="gr-side-table">
            </table>
    </div-->

    <div class="gr-side-item">
        <h4 class="gr-observers">Следят ({{ info.followers.count }}) <i>&nbsp;</i></h4>
            <table width="100%" class="gr-side-table">
                {% for person in info.followers.entities %}
                    {% include "elements/person.html" %}
                {% endfor %}
        </table>
    </div>
{% endblock %}

{% block content %}
    <h1>Чиновники &mdash; {{ official }}</h1>
    {% tabs tabs tab %}
{% endblock %}
