<div class="gr-side-item">
    <h4 class="gr-officials">
        <a href="{{ tools_url }}?type=officials">Чиновники&nbsp;({{ info.officials.count }})</a>
        <i title="контролируем их деятельность">&nbsp;</i>
    </h4>
    <ul>
        {% for entity in info.officials.entities %}
            <li>
                <i class="highlight">{{ entity.followers.count }}</i>
                <a href="{{ entity.instance.get_absolute_url }}">{{ entity.instance }}</a>
                (+{{ entity.posts.positive }}/-{{ entity.posts.negative }})
            </li>
        {% endfor %}
        {% if info.officials.count > LIST_COUNT.tools %}
            <li><a href="{{ tools_url }}?type=officials">Показать всех...</a></li>
        {% endif %}
    </ul>
    <div align="center">
        <a href="{% url create_official %}" class="ym-button">Добавить чиновника</a>
    </div>
</div>