<div class="gr-fl gr-photo">
    <img src="{{ STATIC_URL }}images/icons/nophoto.jpg" />
</div>

<div>
    <div class="gr-fr" style="font-size: 1.8em; font-weight: bold; color: #85AC14;">
        Оценка: +{{ info.posts.positive }} / -{{ info.posts.negative }}
    </div>

    <div class="gr-tags">
        <a>{{ official.post }}</a>
    </div>

    <h3>{{ official.place }} <a class="gr-location">&nbsp;</a></h3>
    <div class="gr-mb20">
        {% for location in info.locations.entities %}
            {% with location=location.location %}
                {% include "elements/location_path.html" %}
            {% endwith %}
            <br />
        {% endfor %}
    </div>

    {% if official.address %}
        <p><span class="dimmed">Рабочий адрес:</span> {{ official.address }}</p>
    {% endif %}

    <dl class="gr-inline-dl">
        {% if official.telephone %}
            <dt class="dimmed">Телефон:</dt>
            <dd>{{ official.telephone }}</dd>
        {% endif %}

        {% if official.email %}
            <dt class="dimmed">E-mail:</dt>
            <dd><a href="mailto:{{ official.email }}">{{ official.email }}</a></dd>
        {% endif %}
    </dl>

    {{ official.about|safe }}

    {% include "officials/view_buttons_panel.html" %}
</div>

<div class="ym-clearfix">&nbsp;</div>

<ul class="gr-source-list-slider">
    {% for post in pagination_entities %}
        <li>
            {% if post.instance.opinion == 'positive' %}<i class="gr-orange-arrow-up">&nbsp;</i>{% endif %}
            {% if post.instance.opinion == 'negative' %}<i class="gr-orange-arrow-down">&nbsp;</i>{% endif %}
            <p>{{ post.instance.content }}</p>
            <div class="gr-source-list-context">
                {% if post.instance.url %}<a href="{{ post.instance.url }}" target="_blank">Источник</a>{% endif %}
                <span class="dimmed">{{ post.instance.time|date:"j.n.y" }}</span>
                <a href="{{ post.instance.profile.get_absolute_url }}">{{ post.instance.profile }}</a>
            </div>
        </li>
    {% endfor %}
</ul>

{% include "elements/paginator.html" %}

<!--p class="gr-aw-showcase_additional"><a class="gr-icon-link gr-abuse" href="">Пожаловаться</a></p-->
