<script type="text/javascript">
    var reformalOptions = {
        project_id: 61566,
        project_host: "reformal.grakon.org",
        force_new_window: false,
        tab_alignment: "left",
        tab_top: "300",
        tab_bg_color: "#248c39",
        tab_image_url: "http://tab.reformal.ru/0J7RgdGC0LDQstC40YLRjCDQvtGC0LfRi9Cy/FFFFFF/f5dab822e975a4eb45fcae69ce487412"
    };

    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>