{% extends "base.html" %}

{% block title %}{{ task.title }} - Гракон{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    {% with title_name="Задача" text=task.title field="title" %}
        {% include "elements/title_edit.html" %}
    {% endwith %}
{% endblock %}

{% block right_column %}
    <div align="center" class="gr-mb30">
        <a id="add_idea_btn" class="gr-follow-button" href="{{ info.instance.get_absolute_url }}#add_idea">Добавить идею</a>

        <script type="text/javascript">
            {% if not request.user.is_authenticated %}
                $("#add_idea_btn").click(login_dialog_init);
            {% endif %}
        </script>
    </div>

    <div class="gr-side-item gr-mb20">
        <h4>Поддержали ресурсами:</h4>
        <p class="dimmed">
            {% with person_entities=supporters %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>
    </div>

    <div class="gr-side-item gr-mb20">
        <h4>Авторы идей:</h4>
        <p class="dimmed">
            {% with person_entities=idea_admins %}
                {% include "participants/list.html" %}
            {% endwith %}
        </p>
    </div>

    {% include "participants/followers_side_block.html" %}

    {% include "disqus/counter.html" %}
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
