{% extends "base.html" %}

{% block title %}{{ task.title }} - Гракон{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block top %}
    <h1>Задача: {{ task.title }}</h1>
{% endblock %}

{% block right_column %}
    <div align="center" class="gr-mb70">
        <a class="gr-follow-button" href="">Добавить идею</a>
    </div>

    <div class="gr-side-item gr-mb10">
        <h4>Поддержали ресурсами:</h4>
        <p>
            <a href="">Shweta Karwa</a>, <a href="">Татьяна Белова</a>, <a href="">Дмитрий Левенец</a>, <a href="">Shweta Karwa</a>, <a href="">Татьяна Белова</a>, <a href="">Дмитрий Левенец</a>, <a href="">Shweta Karwa</a>
        </p>
    </div>

    <div class="gr-side-item gr-mb10">
        <h4>Авторы идей:</h4>
        <p>
            <a href="">Shweta Karwa</a>, <a href="">Татьяна Белова</a>, <a href="">Дмитрий Левенец</a>, <a href="">Shweta Karwa</a>, <a href="">Татьяна Белова</a>, <a href="">Дмитрий Левенец</a>, <a href="">Shweta Karwa</a>
        </p>
    </div>

    {% include "participants/followers_side_block.html" %}

    {% include "disqus/counter.html" %}
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
