{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Добавить задачу - Гракон{% endblock %}

{% block top %}
    <h1>Добавить задачу</h1>
{% endblock %}

{% block content %}
    <div>
        Пожалуйста, убедитесь, что ваша задача соответствует <a href="{% url rules %}">правилам площадки</a>.
        Чем точнее вы сформулируете задачу, тем больше идей и ресурсов на ее решение она получит.
        После создания формулировку можно будет корректировать.
    </div>

    {% crispy form form.helper %}
{% endblock %}