{% if pagination_entities %}
    <div class="gr-ideas-list">
    {% for info in pagination_entities %}
        <div class="gr-ideas-item">
            <div class="gr-ideas-content">
                <div class="gr-add gr-idea-selected"><span>{{ info.resources.count }}</span></div>
                <h4><a href="{{ info.instance.url }}">{{ info.instance.title }}</a></h4>
                <div class="gr-mb10">
                    {% with person=info.participants.admin.entities.0 %}
                        {% include "participants/person.html" %}
                    {% endwith %}
                </div>
                <div>{{ info.instance.about|safe }}</div>
            </div>

            <div class="gr-info-bar">
                <div class="gr-fl">
                    {% include "comments/counter.html" %}

                    <span class="gr-bullet">&nbsp;</span>
                    <a href="{{ info.instance.url }}#ideas" class="dimmed">Идеи: {{ info.ideas.count }}</a>

                    <span class="gr-bullet">&nbsp;</span>
                    <span class="dimmed gr-pseudolink js-follow">Следят: {{ info.participants.follower.count }}</span>

                    {% if request.user.is_authenticated %}
                        <span class="gr-bullet">&nbsp;</span>
                        {% if info.instance.id in request.profile_info.tasks.follower.ids %}
                            {% with is_participant=1 button=info.instance.follow_button btn_class="bold" %}
                                {% include "participants/participate_button.html" %}
                            {% endwith %}
                        {% else %}
                            {% with is_participant=0 button=info.instance.follow_button btn_class="bold" %}
                                {% include "participants/participate_button.html" %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                </div>

                <div class="gr-fr dimmed">{{ info.instance.add_time }}</div>
                <div class="ym-clearfix">&nbsp;</div>
            </div>

            <div class="gr-slider js-follow-content">
                <div class="gr-close js-slide-close">&nbsp;</div>
                <div class="dimmed">
                    {% with person_entities=info.participants.follower.entities %}
                        {% include "participants/list.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="hidden js-comments">
                {% include "comments/list.html" %}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    {% if is_location_page %}
        <div class="gr-blank">
            <i class="gr-left-icon">&nbsp;</i>
            <i class="gr-right-icon">&nbsp;</i>
            <h2>Как благоустроить свой двор?</h2>
            <p><a href="/create_task">На этот и многие другие вопросы вы можете получить ответ, просто задав их</a></p>
        </div>
    {% endif %}
{% endif %}