<div class="gr-descr">
    <div class="gr-mb10">
        {% with person=admin %}
            {% include "participants/person.html" %}
        {% endwith %}
    </div>

    <div class="gr-mb10">
        {% with field="about" html=info.instance.about %}
            {% include "elements/html_block.html" %}
            {% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}
        {% endwith %}
    </div>

    <div class="gr-info-bar">
        <div class="gr-fl">
            {% include "comments/counter.html" %}

            <span class="gr-bullet">&nbsp;</span>
            <span class="dimmed gr-pseudolink js-follow">Следят: {{ info.participants.follower.count }}</span>

            {% with is_participant=is_follower button=task.follow_button btn_class="bold" %}
                <span class="gr-bullet">&nbsp;</span>
                {% include "participants/participate_button.html" %}
            {% endwith %}
        </div>

        <span class="gr-fr dimmed">{{ info.instance.add_time }}</span>
        <div class="ym-clearfix">&nbsp;</div>
    </div>

    <div class="gr-slider js-follow-content">
        <div class="gr-close js-slide-close">&nbsp;</div>
        <div class="dimmed">
            {% with person_entities=info.participants.follower.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </div>
    </div>

    <div class="hidden js-comments">
        {% include "comments/list.html" %}
    </div>

    <div class="gr-mt10 gr-bb-grey-lt">&nbsp;</div>
</div>

<div id="tour-content">
    <a name="ideas"></a>
    <h2>Идеи</h2>

    <div class="gr-ideas-list">
        {% for info in ideas %}
            {% include "ideas/item.html" %}
        {% endfor %}

        {% include "resources/description_popup.html" %}

        {% include "ideas/link_to_project.html" %}
    </div>
</div>

{% if request.user.is_authenticated %}
    <a name="add_idea" />
    <div class="gr-ideas-answer">
        <div class="gr-user">
            <strong><a href="{{ request.profile.get_absolute_url }}">{{ request.profile }}</a></strong>
        </div>

        <div class="gr-mt10 gr-mb10">
            <textarea id="add_idea_textarea" rows="6" class="gr-mt10 gr-mb10" style="width:100%"></textarea>
        </div>

        <div align="right">
            <a id="add_idea_btn" class="ym-button">Добавить идею</a>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){tinymce_editor("add_idea_textarea")});
    </script>

    {% include "dialogs/add_idea.html" %}

    {#  шаблон для динамического создания новых ресурсов на странице  #}
    <div id="resource-template" style="display: none;">
        {% with resource_editable=request.user.is_authenticated %}
            {% include "resources/item.html" %}
        {% endwith %}
    </div>
{% endif %}