<div class="gr-mb20">
    {% include "participants/follower_button.html" %}

    <a id="add_idea_btn" class="ym-button gr-blue-button gr-add"><span>Добавить идею</span><i>&nbsp;</i></a>
</div>

{% if request.user.is_authenticated %}
    <div id="add_idea_dialog" class="hidden">
        <form id="add_idea_form" method="post">
            <div><label for="content">Информация:</label></div>
            <div><textarea name="content" rows="4" cols="30"></textarea></div>
            <div><label for="url">Ссылка:</label></div>
            <div><input type="text" name="url" maxlength="200" size="30"/></div>
            <div>Оценка:
                <select name="opinion">
                    {% for name, title in OPINION_CHOICES %}
                        <option value="{{ name }}">{{ title }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        create_dialog("add_idea_dialog", 400, 400, "Добавить информацию о чиновнике", "Отмена", {
            "Добавить": dialog_post_shortcut("{% url add_post %}", {"ct": {{ info.ct }}, "id": {{ info.instance.id }} },
                    function(){$("#add_idea_dialog").dialog("close");}, true, "add_idea_form")
        });
        $("#add_idea_btn").click(function(){
            $("#add_idea_dialog").dialog("open");
            prevent_enter_in_form("#add_idea_form input");
        });
    </script>
{% else %}
    <script type="text/javascript">
        $("#add_idea_btn").click(login_dialog_init);
    </script>
{% endif %}