<div class="gr-descr">
    <p class="small">
        {% with person=admin %}
            {% include "participants/person.html" %}
        {% endwith %}
    </p>

    <div>
        {% with field="about" html=task.about %}
            {% include "elements/html_block.html" %}
            {% if is_admin %}{% include "elements/edit_button.html" %}{% endif %}
        {% endwith %}
    </div>

    <div class="gr-info-bar">
        {% include "elements/comments.html" %}

        <span class="gr-bullet">&nbsp;</span>
        <span class="dimmed gr-pseudolink js-follow">Следят: {{ info.participants.follower.count }}</span>
        <span class="gr-bullet">&nbsp;</span>

        {% include "participants/follower_button.html" %}

        <span class="gr-fr dimmed">{{ task.time|date:"j b Y" }}</span>
    </div>

    <div class="gr-slider js-follow-content">
        <div class="gr-close js-slide-close">&nbsp;</div>
        <div>
            {% with person_entities=info.participants.follower.entities %}
                {% include "participants/list.html" %}
            {% endwith %}
        </div>
    </div>

    <div class="gr-mt10 gr-bb-blue">&nbsp;</div>
</div>

<h2>Идеи</h2>

<div class="gr-ideas-list">
    {% for info in ideas %}
        {% include "ideas/item.html" %}
    {% endfor %}

    {% include "resources/description_popup.html" %}

    {% if request.user.is_authenticated %}
        <a name="add_idea" />
        <div class="gr-ideas-answer">
            <div class="gr-user">
                <strong><a href="{{ request.profile.get_absolute_url }}">{{ request.profile }}</a></strong>
            </div>
            <textarea id="add_idea_textarea" rows="6" class="gr-mt10 gr-mb10" style="width:100%"></textarea>
            <div align="right">
                <a href="" class="ym-button">Добавить идею</a>
            </div>
        </div>

        <script type="text/javascript">
            $(function(){tinymce_editor("add_idea_textarea")});
        </script>
    {% endif %}
</div>
