<div class="gr-descr">
    <p class="small">
        {% with person=admin %}
            {% include "participants/person.html" %}
        {% endwith %}
    </p>

    <div>
        {{ task.about|safe }}
        <a href="" class="gr-editing">&nbsp;</a>
    </div>
    <div class="gr-info-bar">
        <a href="{% url task_wall task.id %}" class="dimmed">Комментарии</a>
        <span class="gr-bullet">&nbsp;</span>
        <a href="" class="dimmed">Следят: ({{ info.participants.follower.count }})</a>
        <span class="gr-bullet">&nbsp;</span>
        <a href="" class="highlighted"><strong>Следить за задачей</strong></a>
        <span class="gr-fr dimmed">{{ task.time|date:"j b Y H:i" }}</span>
    </div>
</div>

<h2>Идеи</h2>

<div class="gr-ideas-list">
    {% for info in ideas %}
        {% include "ideas/item.html" %}
    {% endfor %}

    {% if request.user.is_authenticated %}
        <div class="gr-ideas-answer">
            <div class="gr-user">
                <strong><a href="{{ request.profile.get_absolute_url }}">{{ request.profile }}</a></strong>
            </div>
            <textarea rows="6" class="gr-mt10 gr-mb10" style="width:100%"></textarea>
            <div align="right">
                <a href="" class="ym-button">Добавить идею</a>
            </div>
        </div>
    {% endif %}
</div>
