<script type="text/javascript">
    var disqus_shortname = "{{ DISQUS_SHORTNAME }}";
    var disqus_identifier = "{{ disqus_identifier }}";
    var disqus_url = "{{ disqus_url }}";

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    // TODO: generalize it to be used everywhere
    // Add counter in the header of the wall tab
    var display_counter = $("<a/>")
            .attr("data-disqus-identifier", "{{ disqus_identifier }}")
            .attr("href", "{{ URL_PREFIX }}{{ disqus_partial_url }}#disqus_thread")
            .addClass("disqus-counter");
    $(".jquery_tabs > ul li.wall-tab").append(display_counter);
</script>